{% extends "index_lazy_layout.html" %}

{% block title %}Profireader - Translations{% endblock title %}

{% block portal_content %}


    <script type="text/ng-template" id="translation_tinymce.html">
            <div class="modal-header"><h3 class="modal-title">Edit translate with HTML tag!</h3></div>
            <div class="modal-body"><textarea class='modal-content' ui-tinymce="tinymceImageOptions"
                                              ng-model='EdittextWithHtml'></textarea></div>
            <div class="modal-footer">
                <button id='buttonDelete' class='btn btn-warning' ng-click='save()'>Save</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
    </script>
    <script type="text/ng-template" id="delete_translation.html">
        <div class='modal-header'><h4>Do you want delete this rows?</h4></div>
        <div class='modal-footer'>
            <button id='buttonDelete' class='btn btn-warning' ng-click='deleteItems()'>Delete</button>
            <button id='buttonClose' class='btn btn-primary' ng-click='cancel()'>Close</button>
        </div>
    </script>

    <script>

        module.controller('translation_tinymce_controller', function ($scope, $modalInstance, EdittextWithHtml) {
              $scope.EdittextWithHtml = EdittextWithHtml;
              $scope.save = function () {
                $modalInstance.close($scope.EdittextWithHtml);
              };
              $scope.cancel = function () {
                $modalInstance.dismiss('cancel');
              };
        });

        module.controller('delete_translation_controller', function ($scope, $modalInstance, list) {
              $scope.list = list;
              $scope.deleteItems = function () {
                $modalInstance.close($scope.list);
              };
              $scope.cancel = function () {
                $modalInstance.dismiss('cancel');
              };
        });


        module.controller('translation_list', ['$scope', '$uibModal', '$ok',function ($scope, $uibModal, $ok) {

                    $scope.url_search_translations = {{ raw_url_for('admin.translations_load')|safe }};
                    $scope.url_save_translations = {{ raw_url_for('admin.translations_save')|safe }};
                    $scope.url_delete_translations = {{ raw_url_for('admin.delete')|safe }}
                    $scope.$$translate = {{ translates('translation_list')|safe }};
                            {% raw %}
                    $scope.noData = 'No translations';
                    $scope.error = '';

                    $scope.showModalForEditNew = function (row, col, text) {
                        var modalInstance = $uibModal.open({
                            templateUrl: 'translation_tinymce.html',
                            controller: 'translation_tinymce_controller',
                            resolve: {
                                'EdittextWithHtml': function () {
                                    return text
                                }
                            }
                        });
                        modalInstance.result.then(function (returnedtext) {
                            $scope.saveTranslWithHtml(returnedtext, row, col);
                        });
                    };

                    $scope.showModalDelete = function () {
                        var list = $scope.list_select;
                        var modalInstance = $uibModal.open({
                            templateUrl: 'delete_translation.html',
                            controller: 'delete_translation_controller',
                            resolve: {
                                'list': function () {
                                    return list
                                }
                            }
                        });
                        modalInstance.result.then(function (list) {
                            $scope.deleteItems(list);
                        });
                    };

                    $scope.deleteItems = function (list) {
                        $ok($scope.url_delete_translations(), {objects: list}, function (resp) {
                            if (resp == 'True') {
                                $scope.sendData($scope.all_grid_data)
                            } else {
                                $scope.error = 'error delete'
                            }
                        });
                    };

                    $scope.saveTranslWithHtml = function (text, row, col) {
                        var grid_data = $scope.all_grid_data;
                        grid_data['editItem'] = {
                            'name': row.entity.name,
                            'newValue': text,
                            'template': row.entity.template,
                            'col': col.field
                        };
                        $scope.sendData(grid_data);
                    };

                    $scope.sendData = function (grid_data, setdatafuctions) {
                        $scope.loading = true;
                        $scope.isSelectedRows = false;
                        $scope.error = '';
                        return $ok($scope.url_search_translations({}), grid_data, setdatafuctions).finally(function () {
                            $scope.loading = false;
                            $scope.load_contr = true;
                        });
                    };

                    $scope.rule = function(allow_html){
                        return allow_html === '*'
                    };

                    $scope.gridOptions1 = $.extend({}, $scope.gridOptions, {
                        loadGridData: $scope.sendData,
                        columnDefs: [
                            {
                                name: 'cr_tm', enableCellEdit: false, enableFiltering: false, enableSorting: true,
                                displayName: 'Creation time'
                            }, {
                                name: 'ac_tm', enableSorting: true, enableCellEdit: false
                            }, {
                                name: 'template', enableCellEdit: false, enableColumnMenu: false,
                                displayName: 'Template',
                                filter: {type:'select'}
                            }, {
                                name: 'url', enableCellEdit: false, enableColumnMenu: false,
                                displayName: 'Url',
                                filter: {type:'select'}
                            }, {
                                name: 'name', enableCellEdit: false, enableColumnMenu: false, displayName: 'Phrase',
                                filter: {type:'input'}
                            }, {
                                name: 'uk', enableCellEdit: true, enableColumnMenu: false,
                                type: 'editable',
                                modal: "grid.appScope.showModalForEditNew(row, col, row.entity[col.field])",
                                multiple: true,
                                rule:'rule(row.entity.allow_html)',
                                filter: {type:'input'}
                            }, {
                                name: 'en', enableCellEdit: true, enableColumnMenu: false,
                                type: 'editable',
                                modal: "grid.appScope.showModalForEditNew(row, col, row.entity[col.field])",
                                multiple: true,
                                rule:'rule(row.entity.allow_html)',
                                filter: {type:'input'}
                            }, {
                                name: 'allow_html', enableCellEdit: false, enableColumnMenu: false,
                                displayName: 'Allow HTML',
                                filter: {type:'input'}
                            }, {
                                name: 'portal.name', enableCellEdit: false, enableColumnMenu: false,
                                displayName: 'Portal Name',
                                filter: {type:'input'}
                            }
                        ]
                    });
                }]);

        {% endraw %}
    </script>
    {% raw %}
    <style>
        .editable-buttons {
            display: none;
        }
    </style>
    <div ng-controller="translation_list">
        <div class="grid" id="grid1" ui-grid-pagination ui-grid-selection ui-grid-edit ui-grid="gridOptions1"></div>
        <a ng-show="load_contr" class="btn btn-danger"
           ng-class="{'disabled': ( isSelectedRows === false )}" style="text-align: center"
           ng-click="showModalDelete()">{{ _('Delete selected rows') }}</a>
    </div>
    {% endraw %}
{% endblock portal_content %}


