{% extends "index_lazy_layout.html" %}

{% block title %}Profireader - Translations{% endblock title %}

{% block portal_content %}


    <script>
        module.controller('translation_list', ['$scope', 'modal', '$ok', '$sce', 'uiGridConstants','$timeout', function ($scope, modal, $ok, $sce, uiGridConstants,$timeout) {

            $scope.url_search_translations = {{ raw_url_for('admin.translations_load')|safe }};
            $scope.url_save_translations = {{ raw_url_for('admin.translations_save')|safe }};
            $scope.url_delete_translations = {{ raw_url_for('admin.delete')|safe }}
            $scope.error = '';
            $scope.new_search_text = '';
            $scope.list_templates = [];
            $scope.list_urls = [];
            $scope.dictionary = {};
            $scope.translations = {};
            $scope.list_select= [];
            $scope.myModal = modal;


            $scope.data = {
                search_text: '',
                pages: {},
                template: null,
                url: null
            };
            var paginationOptions = {
                pageNumber: 1,
                pageSize: 50,
                sort: null
            };

            $scope.update = function(row){
                if(row.field === 'Phrase'){
                    $scope.search_in_phrase = $scope.gridOptions1.columnDefs[4].filter.term;
                }else if(row.field === 'uk'){
                    $scope.search_in_uk = $scope.gridOptions1.columnDefs[5].filter.term;
                }else if(row.field === 'en'){
                    $scope.search_in_en = $scope.gridOptions1.columnDefs[6].filter.term;
                }
//                $scope.sendData($scope.gridOptions1.columnDefs[0].filter.term);
            };

            $scope.storeFile = function( gridRow, gridCol, files ) {
                gridRow.entity.filename = files[0].name;
                var setFile = function(fileContent){
                  gridRow.entity.file = fileContent.currentTarget.result;
                  $scope.lastFile = fileContent.currentTarget.result;
                  $scope.$apply();
                  $scope.saveTranslation(files[0].id, files[0].lang, $scope.lastFile, files[0])
                };
                var reader = new FileReader();
                reader.onload = setFile;
                reader.readAsText( files[0] );
              };

            $scope.FilteredTemplate = function( row, rowRenderIndex, col, colRenderIndex ) {
                if(!$scope.index1)
                    $scope.index1 = 0;
                if( col.filters[0].term && $scope.index1 !== col.filters[0].term){
                    $scope.template = $scope.list_templates[col.filters[0].term - 1]['label'] === '-- all --'? undefined: $scope.list_templates[col.filters[0].term - 1]['label'];
                    console.log('sda');
                    $scope.sendData('');
                    $scope.index1 = col.filters[0].term;
                }else if(!col.filters[0].term){
                    $scope.refresh()
                }
              };

            $scope.FilteredUrls = function( row, rowRenderIndex, col, colRenderIndex ) {
                if(!$scope.index)
                    $scope.index = 0;
                if( col.filters[0].term && $scope.index !== col.filters[0].term){
                    $scope.url = $scope.list_urls[col.filters[0].term - 1]['label'] === '-- all --'? undefined: $scope.list_urls[col.filters[0].term - 1]['label'];
                    $scope.sendData('');
                    console.log('vpn');
                    $scope.index = col.filters[0].term;
                }else if(!col.filters[0].term){
                    $scope.refresh()
                }
              };

            $scope.refresh = function(){
                $scope.gridOptions1.columnDefs[2]['filter']['term'] = '1';
                $scope.gridOptions1.columnDefs[3]['filter']['term'] = '1';
                $scope.gridOptions1.columnDefs[4].filter.term = '';
                $scope.gridOptions1.columnDefs[5].filter.term = '';
                $scope.gridOptions1.columnDefs[6].filter.term = '';
                $scope.template = null;
                $scope.url = null;
                $scope.sendData('');
            };


            $scope.saveTranslation = function (row, col, lang, newval) {
                $ok($scope.url_save_translations(), {row: row, col: col, lang: lang, val: newval}, function (resp) {
                    $scope.saving = true;
                }, function () {
                }).finally(function () {
                    $scope.saving = false;
                });
            };


            $scope.closes = function(){
                $scope.refresh();
                $scope.myModal.close()
            };

            $scope.showModal = function(isOpen,modal, list) {
                if(isOpen){
                    modal.open(list);
                }else{
                    $scope.closes();
                }
              };

            $scope.checkdelete = function() {
                var list = $scope.list_select;
                my = $scope.myModal;
                $scope.showModal(true, my, list);
            };

            $scope.create_list = function(new_list, old_list){
                if(new_list.length === 0){
                        for(var n=0;n< old_list.length;n++){
                            var val = n+1;
                            val.toString();
                            new_list.push({
                                'value': val.toString(),
                                'label': old_list[n]['label']
                            })
                        }
                    }
            };


            $scope.sendData = function (new_search_text) {
                $scope.loading = true;
                $scope.isSelectedRows = false;
                $scope.error = '';
                var data = {};
                data.search_text = (new_search_text !== false) ? new_search_text : $scope.data['search_text'];
                data.template = $scope.template ? $scope.template : null;
                data.url = $scope.url ? $scope.url : null;
                data.page = paginationOptions.pageNumber;
                data.pageSize = $scope.gridOptions1.paginationPageSize;
                data.search_in_phrase = $scope.search_in_phrase ? $scope.search_in_phrase: null;
                data.search_in_uk = $scope.search_in_uk ? $scope.search_in_uk: null;
                data.search_in_en = $scope.search_in_en ? $scope.search_in_en: null;
                $ok($scope.url_search_translations({}), data, function (resp) {

                    $scope.translations = resp.translations;
                    $scope.gridOptions1.totalItems = resp.total;
                    $scope.languages = resp.languages;
                    $scope.list = [];

                    for(var i=0;i< $scope.translations.length;i++){
                        $scope.list.push({
                            'Creation time' : $scope.translations[i].cr_tm,
                            'Last accessed' : $scope.translations[i].ac_tm,
                            'Template' : $scope.translations[i].template,
                            'First url used' : $scope.translations[i].url,
                            'Phrase': $scope.translations[i].name,
                            'uk' : $scope.translations[i].uk,
                            'en' : $scope.translations[i].en
                        })
                    }
                    $scope.gridOptions1.data = $scope.list;

                    $scope.templates = resp.templates;
                    $scope.templates.unshift({label: '-- all --', value: undefined});

                    $scope.urls = resp.urls;
                    $scope.urls.unshift({label: '-- all --', value: undefined});

                    $scope.create_list($scope.list_templates, $scope.templates);
                    $scope.create_list($scope.list_urls, $scope.urls);

                }).finally(function () {
                    $scope.loading = false;
                });
            };
             $scope.gridOptions1 = {
                    paginationPageSizes: [25, 50, 75],
                    paginationPageSize: 25,
                    enableFiltering: true,
                    useExternalPagination: true,
                    useExternalSorting: true,
                    useExternalFiltering: true,
                    columnDefs: [
                      { field: 'Creation time',enableCellEdit: false, enableFiltering: false },
                      { field: 'Last accessed', enableSorting: false,enableCellEdit: false, enableFiltering: false },
                      { field: 'Template', enableSorting: false,enableCellEdit: false,
                          filter: {
                            term: '1',
                            type: uiGridConstants.filter.SELECT,
                            selectOptions: $scope.list_templates },
                          headerCellClass: $scope.FilteredTemplate
                      },
                      { field: 'First url used', enableSorting: false,enableCellEdit: false,
                          filter: {
                            term: '1',
                            type: uiGridConstants.filter.SELECT,
                            selectOptions: $scope.list_urls },
                          headerCellClass: $scope.FilteredUrls

                      },
                      { field: 'Phrase', enableSorting: false,enableCellEdit: false,
                          filter: {
                                type: uiGridConstants.filter.INPUT}
                      },
                      { field: 'uk', enableSorting: false, enableCellEdit: true,
                          filter: {
                                type: uiGridConstants.filter.INPUT}
                      },
                      { field: 'en', enableSorting: false,enableCellEdit: false,
                          filter: {
                                type: uiGridConstants.filter.INPUT}
                      }

                    ],
                    onRegisterApi: function(gridApi) {
                      $scope.gridApi = gridApi;

                      $scope.gridApi.core.on.sortChanged($scope, function(grid, sortColumns) {
                        if (sortColumns.length == 0) {
                          paginationOptions.sort = null;
                        } else {
                          paginationOptions.sort = sortColumns[0].sort.direction;
                        }
                      });
                      gridApi.pagination.on.paginationChanged($scope, function (newPage, pageSize) {
                        paginationOptions.pageNumber = newPage;
                        paginationOptions.pageSize = pageSize;
                        $scope.sendData('');
                      });
                      gridApi.edit.on.afterCellEdit($scope, function(rowEntity, colDef, newValue, oldValue) {
                        //Do your REST call here via $http.get or $http.post
                        if(newValue === oldValue){
                            console.log(rowEntity['Template']);
                        }else{
                            $scope.saveTranslation(rowEntity['Template'], rowEntity['Phrase'], colDef['name'], newValue);
                        }
                      });
                      $scope.gridApi.selection.on.rowSelectionChanged($scope,function(row){
                          $scope.list_select = $scope.gridApi.selection.getSelectedRows();
                          $scope.isSelectedRows = $scope.gridApi.selection.getSelectedRows().length !== 0;
                      });
                    }
                  };
             $scope.delete = function(list) {

                 $ok($scope.url_delete_translations(), {objects:list}, function (resp) {
                     if (resp == 'True') {
                         $scope.showModal(false, $scope.myModal, list);
                         location.reload();
                     } else {
                         $scope.error = 'error delete'
                     }
                 });

             };
        }])
        .factory('modal', ['$compile', '$rootScope', function ($compile, $rootScope) {
            var elm;
            var modal = {
              open: function(list) {
                $rootScope.lists = list;
                var html = "<div class='modal' ng-init='sendData()' ng-controller='translation_list' ng-style='modalStyle'>{{modalStyle}}<div class='modal-dialog'><div class='modal-content'><div class='modal-header'><h4>Do you want delete this rows?</h4></div><div class='modal-footer'><button id='buttonDelete' class='btn btn-warning' ng-click='delete(lists)'>Delete</button><button id='buttonClose' class='btn btn-primary' ng-click='closes()'>Close</button></div></div></div></div>";
                elm = angular.element(html);
                angular.element(document.body).prepend(elm);

                $rootScope.close = function() {
                  modal.close();
                };

                $rootScope.modalStyle = {"display": "block"};

                $compile(elm)($rootScope);
              },
              close: function() {
                if(elm) {
                  elm.remove();
                }
              }
            };
            return modal;
        }]);


    </script>
    {% raw %}
    <style>
        .editable-buttons {
            display: none;
        }
    </style>
    <div ng-init="sendData('')" ng-controller="translation_list">

        <div style="clear: right"></div>

        <div ng-if="!areAllEmpty(translations)">
            <div class="grid" id="grid1" ui-grid-pagination ui-grid-selection ui-grid-edit  ui-grid="gridOptions1" ></div>
            </div>
       <a ng-show="!loading && !areAllEmpty(translations)" class="btn btn-danger" ng-class="{'disabled': ( isSelectedRows === false )}"  style="text-align: center" ng-click="checkdelete(true)" >Delete selected rows</a>
        <!--<table style="width:100%">-->
            <!--<tr>-->
                <!--<th width="8em">Creation time</th>-->
                <!--<th width="8em">Last accessed</th>-->
                <!--<th width="8em">Template</th>-->
                <!--<th width="15em">First url used</th>-->
                <!--<th width="50%">Phrase</th>-->
                <!--<th ng-repeat="lang in languages" width="50%">{{ lang }}</th>-->
                <!--<th></th>-->
            <!--</tr>-->
            <!--<tr valign="top">-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td><select ng-disabled="loading" style="width: 8em; padding: 5px;" ng-model="template"-->
                            <!--ng-options="template.value as template.label for template in templates"></select></td>-->
                <!--<td><select ng-disabled="loading" style="width: 15em; padding: 5px;" ng-model="url"-->
                            <!--ng-options="url.value as url.label for url in urls"></select></td>-->
                <!--<td colspan="{{ languages.length + 1 }}"><input ng-disabled="loading" style="width: 98%" type="text"-->
                                                                <!--placeholder="Search"-->
                                                                <!--ng-model="new_search_text"></td>-->
                <!--<td><input ng-disabled="loading" ng-click="sendData(new_search_text)" type="submit"-->
                           <!--ng-model="new_search_text"-->
                           <!--value="{{ loading?'loading...':'search' }}"-->
                           <!--style="width: 50px"></td>-->
            <!--</tr>-->
            <!--<tr ng-repeat="translation in translations" valign="top">-->
                <!--<td><div style="width: 8em; overflow: hidden">{{ translation.cr_tm }}</div></td>-->
                <!--<td><div style="width: 8em; overflow: hidden">{{ translation.ac_tm }}</div></td>-->
                <!--<td><div style="width: 8em; overflow: hidden">{{ translation.template }}</div></td>-->
                <!--<td><div style="width: 15em; overflow: hidden">{{ translation.url }}</div></td>-->
                <!--<td>{{ translation.name }}</td>-->
                <!--<td ng-repeat="lang in languages">-->
                     <!--<span style="margin: 3px;"-->
                           <!--onbeforesave="saveTranslation(translation['id'], lang, $data, translation)"-->
                           <!--editable-text="translation[lang]">{{ translation[lang] }}</span>-->
                <!--</td>-->
                <!--<td><button class="btn btn-danger" ng-click="delete(translation.id, translation)">Delete</button><span ng-show="error" style="color: red">{{error}}</span></td>-->
            <!--</tr>-->

        <!--</table>-->
        <!--<div ng-show="!loading && !areAllEmpty(translations)">-->
                <!--<div colspan="5">-->
                    <!--<div ng-include="'pagination.html'"></div>-->
                <!--</div>-->
            <!--</div>-->
        <div ng-show="!loading && areAllEmpty(translations)" style="float: left; margin-right: 20px; padding-top: 4px">
                    <h4>No translations</h4>
                </div>
            <button ng-click="refresh()" class="btn btn-warning" ng-show="!loading && areAllEmpty(translations)">Back</button>

    </div>
    {% endraw %}

{% endblock portal_content %}


