{% extends "index_lazy_layout.html" %}

{% block title %}Profireader - Translations{% endblock title %}

{% block portal_content %}


    <script>
        module.controller('translation_list', ['$scope', '$ok', '$sce', 'uiGridConstants', function ($scope, $ok, $sce, uiGridConstants) {

            $scope.url_search_translations = {{ raw_url_for('admin.translations_load')|safe }};
            $scope.url_save_translations = {{ raw_url_for('admin.translations_save')|safe }};
            $scope.url_delete_translations = {{ raw_url_for('admin.delete')|safe }}
            $scope.error = '';
            $scope.list_templates = [];
            $scope.page_changed = function () {
                $scope.sendData(false);
            };
            $scope.dictionary = {};
            $scope.translations = {};

            $scope.data = {
                search_text: '',
                pages: {},
                template: null,
                url: null
            };
            var paginationOptions = {
                pageNumber: 1,
                pageSize: 50,
                sort: null
            };

            $scope.storeFile = function( gridRow, gridCol, files ) {
                // ignore all but the first file, it can only select one anyway
                // set the filename into this column
                gridRow.entity.filename = files[0].name;
                // read the file and set it into a hidden column, which we may do stuff with later
                var setFile = function(fileContent){
                  gridRow.entity.file = fileContent.currentTarget.result;
                  // put it on scope so we can display it - you'd probably do something else with it
                  $scope.lastFile = fileContent.currentTarget.result;
                  $scope.$apply();
                  $scope.saveTranslation(files[0].id, files[0].lang, $scope.lastFile, files[0])
                };
                var reader = new FileReader();
                reader.onload = setFile;
                reader.readAsText( files[0] );
              };
            $scope.highlightFilteredHeader = function( row, rowRenderIndex, col, colRenderIndex ) {
                if( col.filters[0].term ){
                    $scope.template = $scope.list_templates[col.filters[0].term - 1]['label'] === '-- all --'? undefined: $scope.list_templates[col.filters[0].term - 1]['label'];
                    $scope.sendData('');
                  //return 'header-filtered';
                } else {
                  return '';
                }
              };

            $scope.new_search_text = '';

            $scope.saveTranslation = function (row, col, lang, newval) {
                $ok($scope.url_save_translations(), {row: row, col: col, lang: lang, val: newval}, function (resp) {
                    $scope.saving = true;
                }, function () {
                }).finally(function () {
                    $scope.saving = false;
                });
            };

            $scope.delete = function(id, model){
                $ok($scope.url_delete_translations(), {id: id}, function (resp) {
                    if(resp == 'True'){
                        $scope.sendData('');
                    }else{
                        $scope.error = 'error delete'
                    }
                    model.del = true;
                }, function () {
                }).finally(function () {
                    model.del = false;
                })
            };
            $scope.pageNextPageClick = function(){
                $scope.sendData(false);
            };

            $scope.sendData = function (new_search_text) {

                $scope.error = '';
                var data = {};
                data.search_text = (new_search_text !== false) ? new_search_text : $scope.data['search_text'];
                data.template = $scope.template ? $scope.template : null;
                data.url = $scope.url ? $scope.url : null;
                data.page = paginationOptions.pageNumber;//$scope.data.pages.current_page;
                data.pageSize = $scope.gridOptions1.paginationPageSize;
                $ok($scope.url_search_translations({}), data, function (resp) {
                    $scope.data['pages'] = resp.pages;
                    $scope.translations = resp.translations;
                    $scope.gridOptions1.totalItems = resp.total;

                    $scope.languages = resp.languages;
                    $scope.list = [];
                    for(var i=0;i< $scope.translations.length;i++){
                        $scope.list.push({
                            'Creation time' : $scope.translations[i].cr_tm,
                            'Last accessed' : $scope.translations[i].ac_tm,
                            'Template' : $scope.translations[i].template,
                            'First url used' : $scope.translations[i].url,
                            'Phrase': $scope.translations[i].name,
                            'uk' : $scope.translations[i].uk,
                            'en' : $scope.translations[i].en
                        })
                    }
                    $scope.gridOptions1.data = $scope.list;
                    $scope.templates = resp.templates;
                    $scope.templates.unshift({label: '-- all --', value: undefined});

                    $scope.urls = resp.urls;

                    $scope.urls.unshift({label: '-- all --', value: undefined});
                    console.log($scope.templates[0]['label']);
                    if($scope.list_templates.length === 0){
                        for(var n=0;n< $scope.templates.length;n++){
                            var val = n+1;
                            val.toString();
                            $scope.list_templates.push({
                                'value': val.toString(),
                                'label': $scope.templates[n]['label']
                            })
                        }
                    }

                    $scope.genderHash = [];
                    for(var m=0;m< $scope.templates.length;m++){
                            $scope.genderHash.push({
                                'id': 'm+1',
                                'value': $scope.templates[m]['label']
                            })
                    }
                    console.log($scope.list_templates);

                    $scope.data.search_text = (new_search_text !== false) ? new_search_text : $scope.data['search_text'];
                })
            };
             $scope.gridOptions1 = {
                    paginationPageSizes: [25, 50, 75],
                    paginationPageSize: 25,
                    enableFiltering: true,
                    useExternalPagination: true,
                    useExternalSorting: true,
                    useExternalFiltering: true,

                    columnDefs: [
                      { field: 'Creation time',enableCellEdit: false },
                      { field: 'Last accessed', enableSorting: false,enableCellEdit: false },
                      { field: 'Template', enableSorting: false,enableCellEdit: false,
                          filter: {
                            term: '1',
                            type: uiGridConstants.filter.SELECT,
                            selectOptions: $scope.list_templates },
                          headerCellClass: $scope.highlightFilteredHeader
                      },
                      { field: 'First url used', enableSorting: false,enableCellEdit: false },
                      { field: 'Phrase', enableSorting: false,enableCellEdit: false},
                      { field: 'uk', enableSorting: false, enableCellEdit: true},
                      { field: 'en', enableSorting: false,enableCellEdit: false}
                    ],
                    onRegisterApi: function(gridApi) {
                      $scope.gridApi = gridApi;

                      $scope.gridApi.core.on.sortChanged($scope, function(grid, sortColumns) {
                        if (sortColumns.length == 0) {
                          paginationOptions.sort = null;
                        } else {
                          paginationOptions.sort = sortColumns[0].sort.direction;
                        }
                        getPage();
                      });
                      gridApi.pagination.on.paginationChanged($scope, function (newPage, pageSize) {
                        paginationOptions.pageNumber = newPage;
                        paginationOptions.pageSize = pageSize;
                        $scope.sendData('');
                      });
                      gridApi.edit.on.afterCellEdit($scope, function(rowEntity, colDef, newValue, oldValue) {
                        //Do your REST call here via $http.get or $http.post
                        if(newValue === oldValue){
                            console.log(rowEntity['Template']);
                        }else{
                            $scope.saveTranslation(rowEntity['Template'], rowEntity['Phrase'], colDef['name'], newValue);
                        }
                        //Alert to show what info about the edit is available
                        alert('Column: ' + colDef.name + ' ID: ' + rowEntity.id + ' Name: ' + rowEntity.name + ' Age: ' + rowEntity.age);
                      });
                    }
                  };

        }]);
        module.directive('myCustomDropdown', function() {
          return {
            template: '<select ng-disabled="loading" style="width: 15em; padding: 5px;" ng-model="url" ng-options="url.value as url.label for url in urls"></select>'
          };
        })

    </script>
    {% raw %}
    <style>
        .editable-buttons {
            display: none;
        }
    </style>
    <div ng-init="sendData('')" ng-controller="translation_list">

        <form class="navbar-form navbar-right" role="search" ng-if="!areAllEmpty(translations)">
            <div class="form-group">
            <input class="form-control" ng-disabled="loading"  type="text"
                                                                    placeholder="Search"
                                                                    ng-model="new_search_text" >
            </div>
                <button id='toggleGender' ng-click="sendData(new_search_text)" value="{{ loading?'loading...':'search' }}" class="btn btn-success" ng-disabled="loading" ng-model="new_search_text">Search</button>

        </form>
        <div style="clear: right"></div>
        <div ng-if="!areAllEmpty(translations)">
            <div class="grid" id="grid1" ui-grid-pagination  ui-grid-edit  ui-grid="gridOptions1" ></div>
            </div>
        <!--<table style="width:100%">-->
            <!--<tr>-->
                <!--<th width="8em">Creation time</th>-->
                <!--<th width="8em">Last accessed</th>-->
                <!--<th width="8em">Template</th>-->
                <!--<th width="15em">First url used</th>-->
                <!--<th width="50%">Phrase</th>-->
                <!--<th ng-repeat="lang in languages" width="50%">{{ lang }}</th>-->
                <!--<th></th>-->
            <!--</tr>-->
            <!--<tr valign="top">-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td><select ng-disabled="loading" style="width: 8em; padding: 5px;" ng-model="template"-->
                            <!--ng-options="template.value as template.label for template in templates"></select></td>-->
                <!--<td><select ng-disabled="loading" style="width: 15em; padding: 5px;" ng-model="url"-->
                            <!--ng-options="url.value as url.label for url in urls"></select></td>-->
                <!--<td colspan="{{ languages.length + 1 }}"><input ng-disabled="loading" style="width: 98%" type="text"-->
                                                                <!--placeholder="Search"-->
                                                                <!--ng-model="new_search_text"></td>-->
                <!--<td><input ng-disabled="loading" ng-click="sendData(new_search_text)" type="submit"-->
                           <!--ng-model="new_search_text"-->
                           <!--value="{{ loading?'loading...':'search' }}"-->
                           <!--style="width: 50px"></td>-->
            <!--</tr>-->
            <!--<tr ng-repeat="translation in translations" valign="top">-->
                <!--<td><div style="width: 8em; overflow: hidden">{{ translation.cr_tm }}</div></td>-->
                <!--<td><div style="width: 8em; overflow: hidden">{{ translation.ac_tm }}</div></td>-->
                <!--<td><div style="width: 8em; overflow: hidden">{{ translation.template }}</div></td>-->
                <!--<td><div style="width: 15em; overflow: hidden">{{ translation.url }}</div></td>-->
                <!--<td>{{ translation.name }}</td>-->
                <!--<td ng-repeat="lang in languages">-->
                     <!--<span style="margin: 3px;"-->
                           <!--onbeforesave="saveTranslation(translation['id'], lang, $data, translation)"-->
                           <!--editable-text="translation[lang]">{{ translation[lang] }}</span>-->
                <!--</td>-->
                <!--<td><button class="btn btn-danger" ng-click="delete(translation.id, translation)">Delete</button><span ng-show="error" style="color: red">{{error}}</span></td>-->
            <!--</tr>-->

        <!--</table>-->
        <!--<div ng-show="!loading && !areAllEmpty(translations)">-->
                <!--<div colspan="5">-->
                    <!--<div ng-include="'pagination.html'"></div>-->
                <!--</div>-->
            <!--</div>-->
        <div ng-show="!loading && areAllEmpty(translations)" style="float: left; margin-right: 20px; padding-top: 4px">
                    <h4>No translations</h4>
                </div>
            <button ng-click="sendData('')" class="btn btn-warning" ng-show="!loading && areAllEmpty(translations)">Back</button>

    </div>
    {% endraw %}

{% endblock portal_content %}


