{% extends "_ruslan/_index_layout.html" %}
{% block title %}Profireader - SignUp{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block portal_base %}
    {{ super() }}
{% endblock portal_base %}

{% block portal_content %}
    <div class="row " ng-controller="UserLoginController">
        <div></div>
    </div>
    <div class="auth-input auth-form col-lg-4 col-md-4 col-sm-5 col-xs-12" ng-controller="UserLoginController">
        <div class="tabs">
            <div ng-hide="login_signup==='signup'" class="tab-link">
                <a class="tab actual" title="Log in to Profireader">{{ '{{' }}_('Log in'){{ '}}' }}</a>
                <a class="tab" ng-click="login_signup='signup'" href="" title="Sign up to Profireader">{{ '{{' }}_('Sign up'){{ '}}' }}</a>
            </div>
            <div ng-show="login_signup==='signup'" class="tab-link">
                <a class="tab" ng-click="login_signup='login'" href="" title="Log in to Profireader">{{ '{{' }}_('Log in'){{ '}}' }}</a>
                <a class="tab actual" title="Sign up to Profireader">{{ '{{' }}_('Sign up'){{ '}}' }}</a>
            </div>
        </div>

        <div class="content-block">
            <stan ng-if="login_signup==='signup'">
                <h3>{{ '{{' }}_('Sign up via social'){{ '}}' }}:</h3>
                {% include 'partials/LoginSignup - Soc Networks.html' %}
                {% include 'partials/Signup - Profireader.html' %}
            </stan>
            <div ng-if="login_signup!=='signup'">
                <h3>{{ '{{' }}_('Login via social'){{ '}}' }}:</h3>
                {% include 'partials/LoginSignup - Soc Networks.html' %}
                {% include 'partials/Log in - Profireader.html' %}
            </div>
    </div>

    </div>

    {#
    <div>
    <div class="by-socials-block"><h2>Sign up using any of the following
        services:</h2>{% include 'partials/Signup - Soc Networks.html' %}</div>
    <div class="by-profireader-block"><h2>Simple registration</h2>{% include 'partials/Signup - Profireader.html' %}</div>
    #}
{% endblock portal_content %}
