<script type="text/ng-template" id="image_cropper">
    {% raw %}

    <div class="row">


        <div class="img-container">
            <img src="{{ image_file_url||logo_file_url }}" style="width: 100%" alt="Picture">
        </div>


        <div class="docs-buttons">
            <!-- <h3 class="page-header">Toolbar:</h3> -->
            <div class="" ng-if="default_image">
                <button class="btn btn-primary" data-method="zoom" data-option="0.1" type="button" disabled
                        title="Zoom In">
           <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;zoom&quot;, 0.1)">
             <span class="cropericon cropericon-zoom-in"></span>
           </span>
                </button>
                <button class="btn btn-primary" data-method="zoom" data-option="-0.1" type="button" disabled
                        title="Zoom Out">
           <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;zoom&quot;, -0.1)">
             <span class="cropericon cropericon-zoom-out"></span>
           </span>
                </button>
                <button class="btn btn-primary" data-method="rotate" data-option="-90" type="button" disabled
                        title="Rotate Left">
           <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;rotate&quot;, -90)">
             <span class="cropericon cropericon-rotate-left"></span>
           </span>
                </button>
                <button class="btn btn-primary" data-method="rotate" data-option="90" type="button" disabled
                        title="Rotate Right">
           <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;rotate&quot;, 90)">
             <span class="cropericon cropericon-rotate-right"></span>
           </span>
                </button>

                <button class="btn btn-primary" id="replace-toggle" type="button" value="{{ image_file_url }}"
                        ng-click="chooseImage()">
                <span class="docs-tooltip" data-toggle="tooltip" title="Chose image"><span
                        class="glyphicon glyphicon-folder-open"></span></span>
                </button>

            </div>


            <div class="" ng-if="!default_image">
                <button class="btn btn-primary" data-method="zoom" data-option="0.1" type="button" title="Zoom In">
           <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;zoom&quot;, 0.1)">
             <span class="cropericon cropericon-zoom-in"></span>
           </span>
                </button>
                <button class="btn btn-primary" data-method="zoom" data-option="-0.1" type="button"
                        title="Zoom Out">
           <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;zoom&quot;, -0.1)">
             <span class="cropericon cropericon-zoom-out"></span>
           </span>
                </button>
                <button class="btn btn-primary" data-method="rotate" data-option="-90" type="button"
                        title="Rotate Left">
           <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;rotate&quot;, -90)">
             <span class="cropericon cropericon-rotate-left"></span>
           </span>
                </button>
                <button class="btn btn-primary" data-method="rotate" data-option="90" type="button"
                        title="Rotate Right">
           <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;rotate&quot;, 90)">
             <span class="cropericon cropericon-rotate-right"></span>
           </span>
                </button>
                <button class="btn btn-primary" id="replace-toggle" type="button" value="{{ image_file_url }}"
                        ng-click="chooseImage()">
                <span class="docs-tooltip" data-toggle="tooltip" title="Chose image"><span
                        class="glyphicon glyphicon-folder-open"></span></span>
                </button>

            </div>

        </div>

    </div>
    {% endraw %}
</script>