<script>

    module.controller('message-controller', ['$scope', '$modal', '$ok', '$timeout', function ($scope, $modal, $ok, $timeout) {

        $scope.alerts = [];

        $scope.add_message = function (amessage, atype, atime) {

            var msg = {type: atype ? atype : 'warning', msg: amessage, hash: randomHash()};


            $scope.alerts.push(msg);

            if (atime && atime > 0) {
                $timeout(function () {
                    $.each($scope.alerts, function (ind, val) {
                        if (val['hash'] === msg['hash']) {
                            $scope.closeAlert(ind);
                            return false;
                        }
                    });
                }, atime)
            }

        };

        $scope.closeAlert = function (index) {
            $scope.alerts.splice(index, 1);
        };


        {% for message in get_flashed_messages() %}
            $scope.add_message('{{ message }}', 'warning');
        {% endfor %}

    }]);
</script>
<div ng-controller="message-controller" id="controller-message-controller" style="position: fixed; top: 0px;z-index: 1; width: 1000px; ">
    {% raw %}
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    {% endraw %}
</div>
