<script type="text/ng-template" id="pagination.html">
    <uib-pagination boundary-links="true" total-items="data.pages.total" items-per-page="1"
                    ng-model="data.pages.current_page" ng-change="page_changed()"
                    class="pagination-sm"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    first-text="&laquo;"
                    last-text="&raquo;"></uib-pagination>
</script>


<script type="text/ng-template" id="cropper.html">
    {% raw %}
    <div class="img-container">
        <img style="width: 100%" alt="Picture">
    </div>
    <div class="btn-group">
        <button ng-disabled="!data.image.image_file_id" ng-click="cropper('zoom', 0.1)" class="btn btn-primary"
                type="button" title="Zoom In">
                  <span class="docs-tooltip" data-toggle="tooltip"><span
                          class="glyphicon glyphicon-zoom-in"></span></span>
        </button>
        <button ng-disabled="!data.image.image_file_id" ng-click="cropper('zoom', -0.1)" class="btn btn-primary"
                type="button"
                title="Zoom Out">
                 <span class="docs-tooltip" data-toggle="tooltip"><span
                         class="glyphicon glyphicon-zoom-out"></span></span>
        </button>
        <button ng-if="user_have_company" class="btn btn-primary" type="button" value="{{ image_file_url }}"
                ng-click="chooseImage(true, avatar)">
                <span class="docs-tooltip" data-toggle="tooltip" title="Chose image"><span
                        class="glyphicon glyphicon-folder-open"></span></span>
        </button>
        <label ng-show="!user_have_company" class="btn btn-primary btn-upload" for="inputImage" title="Upload image file">
            <input type="file" class="sr-only" id="inputImage" name="file" accept="image/*">
            <span class="docs-tooltip" data-toggle="tooltip" title="Import image with Blob URLs">
              <span class="glyphicon glyphicon-upload" style="top:7px!important"></span>
            </span>
          </label>
        <button  class="btn btn-primary" type="button"
                ng-click="chooseImage(false)">
                <span class="docs-tooltip" data-toggle="tooltip" title="Chose image"><span
                        class="glyphicon glyphicon-remove-circle"></span></span>
        </button>

    <input type="hidden" ng-model="data.article.image_file_id">
    </div>
    {% endraw %}
</script>

<script type="text/ng-template" id="prHelpPopoverTemplate.html">
    <div>!!!!</div>
    <label>Popup Title:</label>
</script>
{% raw %}
<script type="text/ng-template" id="grid-header.html">
    <div role="rowgroup" class="ui-grid-header"> <!-- theader -->
        <div class="ui-grid-top-panel">
            <div class="ui-grid-header-viewport">
                <div class="ui-grid-header-canvas">
                    <div class="ui-grid-header-cell-wrapper" ng-style="colContainer.headerCellWrapperStyle()">
                        <div role="row" class="ui-grid-header-cell-row">
                            <div class="ui-grid-header-cell ui-grid-clearfix ui-grid-category"
                                 ng-repeat="cat in grid.options.category"
                                 ng-if="cat.visible && (colContainer.renderedColumns | filter:{ colDef:{category: cat.name} }).length > 0">
                                <div class="ui-grid-filter-container">
                                    <input type="text" class="ui-grid-filter-input ui-grid-filter-input-{{$index}}"
                                           ng-enter="grid.appScope.searchItemGrid(cat)" ng-model="cat.filter.text"
                                           aria-label="{{colFilter.ariaLabel || aria.defaultFilterLabel}}"
                                           placeholder="{{ grid.appScope._('search') }}">

                                    <div role="button" class="ui-grid-filter-button"
                                         ng-click="grid.appScope.refreshGrid(cat)"
                                         ng-if="!colFilter.disableCancelFilterButton"
                                         ng-disabled="cat.filter.text === undefined || cat.filter.text === null || cat.filter.text === ''"
                                         ng-show="cat.filter.text !== undefined && cat.filter.text !== null && cat.filter.text !== ''">

                                        <i class="ui-grid-icon-cancel" ui-grid-one-bind-aria-label="aria.removeFilter">&nbsp;</i>
                                    </div>
                                </div>
                                <div class="ui-grid-header-cell ui-grid-clearfix" ng-if="col.colDef.category === cat.name"
                                     ng-repeat="col in colContainer.renderedColumns | filter:{ colDef:{category: cat.name} }"
                                     ui-grid-header-cell
                                     col="col"
                                     render-index="$index">
                                    <div ng-class="{ 'sortable': sortable }" class="ng-scope sortable">
                                        <div ui-grid-filter="" ng-show="col.colDef.category !== undefined"></div>
                                    </div>
                                </div>
                            </div><!--!cat.visible && -->
                            <div ng-if="col.colDef.category === undefined"
                                 class="ui-grid-header-cell ui-grid-clearfix"
                                 ng-repeat="col in colContainer.renderedColumns track by col.uid"
                                 ui-grid-header-cell
                                 col="col"
                                 render-index="$index">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

{% endraw %}