    <script type="text/ng-template" id="pagination.html">
    <uib-pagination boundary-links="true" total-items="data.pages.total" items-per-page="1"
                    ng-model="data.pages.current_page" ng-change="page_changed()"
                    class="pagination-sm"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    first-text="&laquo;"
                    last-text="&raquo;"></uib-pagination>
</script>


<script type="text/ng-template" id="cropper.html">

    {% raw %}{{ a }}
    <div class="img-container">
        <img ng-model="data.image" pr-cropper="cropper" style="width: 100%" alt="Picture">
    </div>
    <div class="">
        <button ng-disabled="!data.image.image_file_id" ng-click="cropper('zoom', 0.1)" class="btn btn-primary"
                type="button" title="Zoom In">
                  <span class="docs-tooltip" data-toggle="tooltip"><span
                        class="glyphicon glyphicon-zoom-in" ></span></span>
        </button>
        <button ng-disabled="!data.image.image_file_id" ng-click="cropper('zoom', -0.1)" class="btn btn-primary" type="button"
                title="Zoom Out">
                 <span class="docs-tooltip" data-toggle="tooltip"><span
                        class="glyphicon glyphicon-zoom-out"></span></span>
        </button>

        <button ng-disabled="!data.image.image_file_id" ng-click="cropper('rotate', -90)" class="btn btn-primary" type="button"
                title="Rotate Left">
               <span class="rotate" data-toggle="tooltip"><span
                        class="icon-transform-rotate-counterclockwise"></span></span>
        </button>
        <button class="btn btn-primary" ng-disabled="!data.image.image_file_id" ng-click="cropper('rotate', 90)"  type="button"
                title="Rotate Right">
             <span class="rotate" data-toggle="tooltip"><span
                        class="icon-transform-rotate-clockwise"></span></span>
        </button>
        <button class="btn btn-primary" id="replace-toggle" type="button" value="{{ image_file_url }}"
                ng-click="chooseImage()">
                <span class="docs-tooltip" data-toggle="tooltip" title="Chose image"><span
                        class="glyphicon glyphicon-folder-open"></span></span>
        </button>

    </div>

    <input type="hidden" ng-model="data.article.image_file_id">
    </div>
    {% endraw %}
</script>