global
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    mode http
        timeout connect 100000
        timeout client  1000000
        timeout server  1000000

listen http-in
    option forwardfor
    option http-server-close
    bind *:80

    server profi 127.0.0.1:8080
    use-server profi if { hdr(host) -i profireader.com }

    server filemanager 127.0.0.1:9001
    use-server filemanager if { hdr(host) -i file001.profireader.com }

    server front 127.0.0.1:8888
    use-server front if { always_true }

