{% extends "index_lazy_layout.html" %}

{% block head %}
    {{ super() }}
    {% include '_ruslan/partials/_header_files_articles.html' %}
{% endblock head %}

{% block portal_content %}

    {% block company_base %}
        {% include 'company/company_base_angular.html' %}
    {% endblock company_base %}

    {#TODO: VH by OZ remove below line#}
    {% from 'macros.html' import scripts %}
    {{ scripts(names=['croper']) }}

    <script>
        module.controller('article_edit', ['$scope', function ($scope) {

            $scope.$$translate = {{ translates('article_edit')|safe }};
            $scope.data = {};

            {% if publication_id %}
                $scope.title = 'Update publication at portal `%(data.article.portal.name)s` in division `%(data.article.division.name)s`';
            {% else %}
                {% if material_id %}
                    $scope.title = 'Update material';
                {% else%}
                    $scope.title = 'Create new material';
                {% endif %}
            {% endif %}

            document.title = $scope.title;

            $scope.amidSave = function (resp) {
                if (!$scope.data.article.id && resp.article.id) {
                    window.location.href = {{ raw_url_for('article.article_show_form')|safe }}({material_id: resp.article.id})
                }
                add_message($scope._('article was saved'), 'info', 3000);

            };

            $scope.getData = function (model, deff) {
                model.portal_division.insert_after = model.portal_division.positioned_articles[model.portal_division.current].id;
                return deff(model);
            };

            $scope.amidLoad = function (resp) {
                resp.article.publishing_tm = new Date(resp.article.publishing_tm);
                resp.portal_division = $scope.setPositioning(resp.portal_division, resp.article.id);
                return resp;
            };

            var tinyArticleOptions = {'height': '500px', 'body_class': 'article-content'}


            {% if article_portal_division_id %}
                var custom_formats = {{ tinymce_format_groups('birdy')|tojson }};
                tinyArticleOptions['toolbar2'] = 'foreground | background | font | border | margin | padding';
            {% else %}
                var custom_formats = {};
            {% endif %}

            tinyArticleOptions['formats'] =
                    _.chain($.extend({}, {{ tinymce_format_groups()|tojson }}, custom_formats)). // here we have dict in form {group_label: {format: format_properties}}
                    reduce(_.extend, {}). // flatten groups
                    map(function (format_properties, format_name) { // convert each format to tinymce in flat dictionary
                        return [format_name, convert_python_format_to_tinymce_format(format_properties)]; // form list of [key, val] pairs
                    }).object(). // convert each [key, val] pair to {key: val} element
                    value(); // get result

            tinyArticleOptions['pr_formats'] = _.size(custom_formats) ? get_array_for_menu_build(custom_formats) : [];

            $scope.tinymceImageOptions = $.extend(true, $scope.tinymceImageOptions, tinyArticleOptions);

            $scope.articlePositionDontChange = function () {
                if ($scope.data.portal_division.positioned_articles
                        && $scope.data.portal_division.positioned_articles[$scope.data.portal_division.current] &&
                        $scope.data.portal_division.positioned_articles[$scope.data.portal_division.current].id == $scope.data.article.id) {
                    return true;
                }
                return false;
            }

            $scope.ArticlePositionTitle = function () {
                var obj = $scope.data.portal_division.positioned_articles[$scope.data.portal_division.current];
                if (obj.id === false) return $scope._('Set first in division');
                if (obj.id === true) return $scope._('Set last in division');
                if (obj.id === null) return $scope._('Do not use priority. Stay with publishing date');
                if (obj.id === $scope.data.article.id) {
                    return $scope._('Dont change priority');
                }
                return $scope._('Show this article just after `%(title)s`', obj);

            }

            $scope.setPositioning = function (portal_division, article_id) {
                console.log(portal_division, article_id);

                if (!portal_division) {
                    return {
                        min: 0,
                        max: 0,
                        current: 0,
                        positioned_articles: [{id: null, title: '', insert_after: null}],
                        insert_after: null
                    }
                }

                portal_division.positioned_articles.unshift({'id': false, 'title': '', 'position': false});

                var current = null;


                var removeindex = false;
                $.each(portal_division.positioned_articles, function (ind, positioned) {
                    if (positioned.id === article_id) {
                        removeindex = ind;
                        return false;
                    }
                });

                if (removeindex !== false) {
                    current = removeindex - 1;
                    portal_division.positioned_articles.splice(removeindex, 1);

                }

                portal_division.positioned_articles.push({'id': null, 'title': '', 'position': null});
                if (current === null) {
                    current = portal_division.positioned_articles.length - 1;
                }

                console.log('current = ', current);

                return $.extend(portal_division, {
                    min: 0, max: portal_division.positioned_articles.length - 1,
                    current: current, insert_after: portal_division.positioned_articles[current].id
                });

            };


        }]);

        {#            $scope.cleanUpHtml = function (data) {#}
        {#                data.long = cleanup_html(data.long);#}
        {#                return data;#}
        {#            };#}


        /**
         * AngularJS default filter with the following expression:
         * "tag in tags | filter: {name: $select.search, age: $select.search}"
         * performs a AND between 'name: $select.search' and 'age: $select.search'.
         * We want to perform a OR.
         */
        /* module.filter('propsFilter', function () {
         return function (items, props) {
         var out = [];

         if (angular.isArray(items)) {
         items.forEach(function (item) {
         var itemMatches = false;

         var keys = Object.keys(props);
         for (var i = 0; i < keys.length; i++) {
         var prop = keys[i];
         var text = props[prop].toLowerCase();
         if (item[prop].toString().toLowerCase().indexOf(text) !== -1) {
         itemMatches = true;
         break;
         }
         }

         if (itemMatches) {
         out.push(item);
         }
         });
         } else {
         // Let the output be the input untouched
         out = items;
         }

         return out;
         };
         });


         module.controller('SelectTagsCtrl', ['$scope', '$http', '$ok', function ($scope, $http, $ok) {

         $scope.disabled = undefined;
         $scope.searchEnabled = undefined;
         $scope.selected_portal_to_unpublish = '';
         $scope.$$translate = {{ translates('SelectTagsCtrl')|safe }};


         $scope.getData = function () {
         $scope.loading = true;
         };

         $scope.respData = function () {
         $scope.loading = false;
         return true;
         };

         $scope.enable = function () {
         $scope.disabled = false;
         };

         $scope.disable = function () {
         $scope.disabled = true;
         };

         $scope.enableSearch = function () {
         $scope.searchEnabled = true;
         };

         $scope.disableSearch = function () {
         $scope.searchEnabled = false;
         };

         $scope.availableTags = [];
         $scope.selectedTags = [];

         }]);
         */


    </script>

    {% raw %}

    <div ng-init="init()" ng-controller="article_edit">
        <h1 class="nice-title">{{ _(title) }}<span></span></h1>

        <div af af-amid-load="amidLoad" af-amid-save="amidSave" af-before-save="getData"
             af-beforeValidate="getData" af-watch="data.article" ng-model="data">

            <div class="update_col1">
                <!-- TODO: OK by OZ:   this block form should share same classes with layout to look MAXIMUM like in portal
                                        maybe layout selector is apporpriate here-->
                {{ _('Article title') }}
                <pr_help_tooltip>article_title</pr_help_tooltip> <span
                    af-validation-answer="data_validation:title"></span>
                <input style="width: 100%" type="text" ng-model="data.article.title">

                {{ _('Article subtitle') }}
                <pr_help_tooltip>article_subtitle</pr_help_tooltip> <span
                    af-validation-answer="data_validation:subtitle"></span>
                <input style="width: 100%" type="text" ng-model="data.article.subtitle">

                {{ _('Keywords') }} <span af-validation-answer="data_validation:keywords"></span>
                <input style="width: 100%" ng-model="data.article.keywords"/>
            </div>


            <div class="update_col1">
                {{ _('Select picture') }}
                <div ng-model="data.image" pr-cropper="cropper" pr-company-id="{{ data.article.company.id }}"></div>
            </div>


            <div ng-if="data.article.division" class="update_col1">
                <!-- TODO: VH BY OZ: please uncoment time (comented by ng-if=0 now), move date and time to one line, and move this layout in some angular template (e.g. 'datetimepicker.html') -->
                {{ _('Select publication date and time') }}<br/>
                <input style="width: 15em; display: inline" type="date" class="form-control" uib-datepicker-popup
                       ng-model="data.article.publishing_tm" ng-required="true"
                       datepicker-options="dateOptions" close-text="Close"/><span class="input-group-btn"></span>
                <uib-timepicker ng-if="0"
                                ng-model="data.article.publishing_tm" hour-step="1" minute-step="1"
                                show-meridian="ismeridian"></uib-timepicker>
            </div>

            <div ng-if="data.article.division" class="update_col1">
                {{ _('Select publication priority') }}<br/>

                <div style="width: 20em" ui-slider min="{{ data.portal_division.min }}"
                     max="{{ data.portal_division.max }}" step="1" ng-model="data.portal_division.current"></div>
                <div class="nowrap">
                    <span>{{ ArticlePositionTitle() }}</span>
                </div>

            </div>


            <div class="update_col1">
                <!-- TODO: OZ by OZ move this code to one file -->
                <link href="/static/css/article.css" rel="stylesheet">
                <link href="/static/front/bird/css/article.css" rel="stylesheet">

                {{ _('Short Description') }} <span af-validation-answer="data_validation:short"></span>
                <textarea style="width: 100%" placeholder="{{_('short')}}" ng-model="data.article.short"></textarea>

                {{ _('Full text') }}
            <textarea ui-tinymce="tinymceImageOptions" style="width: 400px;"
                      ng-model="data.article.long"></textarea>

            </div>

            <!-- TODO: AA by OZ -->
            <div ng-if="data.article.division" class="update_col1" pr-tags="data['portal_division']['availableTags']"
                 ng-model="data.article.tags"></div>

            <div class="update_col1">
                <button class="create_button" ng-disabled="!$af.isActionAllowed(data, 'save')"
                        ng-click="$af.save(data)">&nbsp;<span style="color: green"
                                                              class="glyphicon glyphicon-save-file"></span>&nbsp;{{
                    data.article.id ? _('save') : _('create') }}
                </button>
            </div>
        </div>
    </div>
    {% endraw %}

{% endblock %}


