{% extends "index_lazy_layout.html" %}

{% block title %}{{ _('Create article') }}{% endblock title %}

{% block styles %}
    {{ super() }}
    <!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css"> -->
    <!-- ui-select files -->
    <link rel="stylesheet" href="/static/css/select.css">

    <!-- Select2 theme -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">

    <!--
      Selectize theme
      Less versions are available at https://github.com/brianreavis/selectize.js/tree/master/dist/less
    -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
    <!-- <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.bootstrap2.css"> -->
    <!-- <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.bootstrap3.css"> -->

    <link rel="stylesheet" href="/static/css/andriy.css">
{%- endblock styles %}

{% block portal_content %}
    {#TODO: VH by OZ remove below line#}
    {% from 'macros.html' import scripts %}
    {{ scripts(names=['croper']) }}

    <!--
      IE8 support, see AngularJS Internet Explorer Compatibility http://docs.angularjs.org/guide/ie
      For Firefox 3.6, you will also need to include jQuery and ECMAScript 5 shim
    -->
    <!--[if lt IE 9]>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
    <script>
        document.createElement('ui-select');
        document.createElement('ui-select-match');
        document.createElement('ui-select-choices');
    </script>
    <![endif]-->



    <script>
        module.controller('article_edit', ['$scope', '$modal', '$af', '$ok', function ($scope, $modal, $af, $ok) {
            $scope.$af = $af;
            {#            $scope.details_article = {{ raw_url_for('article.details')|safe }};#}
            {#            $scope.details_publication_portal = {{ raw_url_for('portal.publication_details')|safe }};#}
            $scope.update_created_article = {{ raw_url_for('article.article_show_form')|safe }};

            {% if article_company_id %}
{#                $scope.company_id = '{{ article_company_id }}'#}
{#                console.log($scope.company_id)#}
                $scope.save_article = '{{ url_for('article.load_form_create', article_company_id = article_company_id)|safe }}';
            {% else %}
                $scope.save_article = '{{ url_for('article.load_form_create')|safe }}';
            {% endif %}

            $scope.data = {};

            $scope.$$translate = {{ translates('article_edit')|safe }};

            $scope.amidSave = function (resp) {
                {#                window.location.href = {}#}
                {#                {% if  article_portal_division_id %}#}
                {#                    window.location.href = $scope.details_publication_portal({article_id: resp['article']['id'], company_id: resp['article']['company_id']});#}
                {#                {% else %}#}
                {#                    window.location.href = $scope.details_article({article_id: resp['article']['id']});#}
                {#                {% endif %}#}
                if (!$scope.data.article.id && resp.article.id) {
                    window.location.href = $scope.update_created_article({article_company_id: resp.article.id});
                }
                {#                $scope.data.article.publishing_tm = new Date(resp.article.publishing_tm);#}
                {#                $scope.data.portal_division = $scope.setPositioning(resp.portal_division, resp.article.id);#}

                add_message('article was saved', 'info', 3000);

            };

            $scope.typeofo = function (o) {
                return (typeof o)
            };

            $scope.getTitle = function () {
                if ($scope.data && $scope.data.article) {
                    if ($scope.data.article.division)
                        return 'update version of article at portal `%(data.article.portal.name)s` in division `%(data.article.division.name)s`';
                    if ($scope.data.article.company_id)
                        return 'update version of article for company `%(data.article.company.name)s`';
                    if (!$scope.data.article.id)
                        return 'Create new article';
                    return 'update your version of article';


                }
                return false;
            };

            $scope.getData = function (model, deff) {
                model.portal_division.insert_after = model.portal_division.positioned_articles[model.portal_division.current].id;
                return deff(model);
            };

            $scope.setPositioning = function (portal_division, article_id) {
                console.log(portal_division, article_id);

                if (!portal_division) {
                    return {
                        min: 0,
                        max: 0,
                        current: 0,
                        positioned_articles: [{id: null, title: '', insert_after: null}],
                        insert_after: null
                    }
                }

                portal_division.positioned_articles.unshift({'id': false, 'title': '', 'position': false});

                var current = null;


                var removeindex = false;
                $.each(portal_division.positioned_articles, function (ind, positioned) {
                    if (positioned.id === article_id) {
                        removeindex = ind;
                        return false;
                    }
                });

                if (removeindex !== false) {
                    current = removeindex - 1;
                    portal_division.positioned_articles.splice(removeindex, 1);

                }

                portal_division.positioned_articles.push({'id': null, 'title': '', 'position': null});
                if (current === null) {
                    current = portal_division.positioned_articles.length - 1;
                }

                console.log('current = ', current);

                return $.extend(portal_division, {
                    min: 0, max: portal_division.positioned_articles.length - 1,
                    current: current, insert_after: portal_division.positioned_articles[current].id
                });

            };

            $scope.amidLoad = function (resp) {
                resp.article.publishing_tm = new Date(resp.article.publishing_tm);
                resp.portal_division = $scope.setPositioning(resp.portal_division, resp.article.id);
                return resp;
            };

            $scope.tinymceImageOptions['height'] = '500px';
            $scope.tinymceImageOptions['body_class'] = 'article-content';

            var general_formats = {{ tinymce_format_groups()|tojson }};

            {% if  article_portal_division_id %}
                var custom_formats = {{ tinymce_format_groups('birdy')|tojson }};
                $scope.tinymceImageOptions['toolbar2'] = 'foreground | background | font | border | margin | padding';
            {% else %}
                var custom_formats = {};

            {% endif %}



            $scope.tinymceImageOptions['formats'] =
                    _.chain($.extend({}, general_formats, custom_formats)). // here we have dicd in form {group_label: {format: format_properties}}
                            reduce(_.extend, {}). // flatten groups
                            map(function (format_properties, format_name) { // convert each format to tinymce in flat dictionary
                                return [format_name, convert_python_format_to_tinymce_format(format_properties)]; // form list of [key, val] pairs
                            }).
                            object(). // convert each [key, val] pair to {key: val} element
                            value(); // get result

            var custom_formats_menu = _.size(custom_formats) ? get_array_for_menu_build(custom_formats) : [];

            $scope.tinymceImageOptions['pr_formats'] = custom_formats_menu;

            $scope.cleanUpHtml = function (data) {
                data.long = cleanup_html(data.long);
                return data;
            };

            $scope.articlePositionDontChange = function () {
                if ($scope.data.portal_division.positioned_articles
                        && $scope.data.portal_division.positioned_articles[$scope.data.portal_division.current] &&
                        $scope.data.portal_division.positioned_articles[$scope.data.portal_division.current].id == $scope.data.article.id) {
                    return true;
                }

                return false;
            }

            $scope.ArticlePositionTitle = function () {
                var obj = $scope.data.portal_division.positioned_articles[$scope.data.portal_division.current];
                if (obj.id === false) return $scope._('Set first in division');
                if (obj.id === true) return $scope._('Set last in division');
                if (obj.id === null) return $scope._('Do not use priority. Stay with publishing date');
                if (obj.id === $scope.data.article.id) {
                    return $scope._('Dont change priority');
                }
                return $scope._('Show this article just after `%(title)s`', obj);

            }
        }]);

        /**
         * AngularJS default filter with the following expression:
         * "tag in tags | filter: {name: $select.search, age: $select.search}"
         * performs a AND between 'name: $select.search' and 'age: $select.search'.
         * We want to perform a OR.
         */
        module.filter('propsFilter', function () {
            return function (items, props) {
                var out = [];

                if (angular.isArray(items)) {
                    items.forEach(function (item) {
                        var itemMatches = false;

                        var keys = Object.keys(props);
                        for (var i = 0; i < keys.length; i++) {
                            var prop = keys[i];
                            var text = props[prop].toLowerCase();
                            if (item[prop].toString().toLowerCase().indexOf(text) !== -1) {
                                itemMatches = true;
                                break;
                            }
                        }

                        if (itemMatches) {
                            out.push(item);
                        }
                    });
                } else {
                    // Let the output be the input untouched
                    out = items;
                }

                return out;
            };
        });


        module.controller('SelectTagsCtrl', ['$scope', '$http', '$ok', function ($scope, $http, $ok) {

            $scope.disabled = undefined;
            $scope.searchEnabled = undefined;
            $scope.selected_portal_to_unpublish = '';
            $scope.$$translate = {{ translates('SelectTagsCtrl')|safe }};


            $scope.getData = function () {
                $scope.loading = true;
            };

            $scope.respData = function () {
                $scope.loading = false;
                return true;
            };

            $scope.enable = function () {
                $scope.disabled = false;
            };

            $scope.disable = function () {
                $scope.disabled = true;
            };

            $scope.enableSearch = function () {
                $scope.searchEnabled = true;
            };

            $scope.disableSearch = function () {
                $scope.searchEnabled = false;
            };

            $scope.availableTags = [];
            $scope.selectedTags = [];

        }]);


    </script>

    {% raw %}

    <div ng-init="init()" ng-controller="article_edit">
        <h1 class="nice-title">{{ _(getTitle()) }}<span></span></h1>

        <div af af-amid-load="amidLoad" af-amid-save="amidSave" af-before-save="getData"
             af-beforeValidate="getData" af-watch="data.article" ng-model="data">

            <div class="update_col1">
                <!-- TODO: OK by OZ:   this block form should share same classes with layout to look MAXIMUM like in portal
                                        maybe layout selector is apporpriate here-->
                {{ _('Article title') }}
                <pr_help_tooltip>article_title</pr_help_tooltip> <span
                    af-validation-answer="data_validation:title"></span>
                <input style="width: 100%" type="text" ng-model="data.article.title">
                {{ _('Short Description') }} <span af-validation-answer="data_validation:short"></span>
                <textarea style="width: 100%" placeholder="{{_('short')}}" ng-model="data.article.short"></textarea>
                {{ _('KeyWords') }} <span af-validation-answer="data_validation:keywords"></span>
                <input style="width: 100%" ng-model="data.article.keywords"/>
            </div>


            <div class="update_col1">
                {{ _('Select picture') }}
                <div ng-model="data.image" pr-cropper="cropper" pr-company-id="{{ data.article.company_id }}"></div>
            </div>


            <div ng-if="data.article.division" class="update_col1">
                <!-- TODO: VH BY OZ: please uncoment time (comented by ng-if=0 now), move date and time to one line, and move this layout in some angular template (e.g. 'datetimepicker.html') -->
                {{ _('Select publication date and time') }}<br/>
                <input style="width: 15em; display: inline" type="date" class="form-control" uib-datepicker-popup
                       ng-model="data.article.publishing_tm" ng-required="true"
                       datepicker-options="dateOptions" close-text="Close"/><span class="input-group-btn"></span>
                <uib-timepicker ng-if="0"
                                ng-model="data.article.publishing_tm" hour-step="1" minute-step="1"
                                show-meridian="ismeridian"></uib-timepicker>
            </div>

            <div ng-if="data.article.division" class="update_col1">
                {{ _('Select publication priority') }}<br/>

                <div style="width: 20em" ui-slider min="{{ data.portal_division.min }}"
                     max="{{ data.portal_division.max }}" step="1" ng-model="data.portal_division.current"></div>
                <div class="nowrap">
                    <span>{{ ArticlePositionTitle() }}</span>
                </div>

            </div>


            <div class="update_col1">
                <!-- TODO: OZ by OZ move this code to one file -->
                <link href="/static/css/article.css" rel="stylesheet">
                <link href="/static/front/bird/css/article.css" rel="stylesheet">
                {{ _('Full text') }}
            <textarea ui-tinymce="tinymceImageOptions" style="width: 400px;"
                      ng-model="data.article.long"></textarea>

            </div>

            <!-- TODO: AA by OZ -->
            <div ng-if="data.article.division" class="update_col1" pr-tags="data['portal_division']['availableTags']"
                 ng-model="data.article.tags"></div>

            <div class="update_col1">
                <button class="create_button" ng-disabled="!$af.isActionAllowed(data, 'save')"
                        ng-click="$af.save(data)">&nbsp;<span style="color: green"
                                                              class="glyphicon glyphicon-save-file"></span>&nbsp;{{
                    data.article.id ? _('save') : _('create') }}
                </button>
            </div>
        </div>
    </div>
    {% endraw %}

{% endblock %}


