{% extends "index_lazy_layout.html" %}

{% block title %}Profireader - Articles list{% endblock title %}

{% block portal_content %}


    <script>
        module.controller('article_list', ['$scope', '$ok', '$sce', 'uiGridConstants','uiGridGroupingConstants','$timeout', function ($scope, $ok, $sce, uiGridConstants, uiGridGroupingConstants,$timeout) {

            $scope.url_details = {{ raw_url_for('article.details')|safe }};
            $scope.url_create_article = '{{ url_for('article.article_show_form')|safe }}';

            $scope.url_list = {{ raw_url_for('article.show_mine')|safe }};
            $scope.url_search_article = '{{ url_for('article.load_mine')|safe }}';

            $scope.$$translate = {{ translates('article_list')|safe }};

            {% raw %}
            $scope.noData = 'No publications';

            $scope.sendData = function (data) {
                $scope.loading = true;
                $scope.error = '';
                $ok($scope.url_search_article, data, function (resp) {
                    $scope.datas = resp;
                    $scope.applyGridExtarnals(resp);
                }).finally(function () {
                    $scope.loading = false;
                    $scope.load_contr = true
                });
            };

            $scope.gridOptions1 = $.extend({}, $scope.gridOptions, {
                    onRegisterApi: function (gridApi) {
                        $scope.setGridExtarnals(gridApi)
                    },
                    treeRowHeaderAlwaysVisible: false,
                    columnDefs: [
                      { name: 'title', enableSorting:false,enableCellEdit: false,groupingShowAggregationMenu: false, enableColumnMenu: false, displayName: 'Title', width: '35%',
                          type: 'link',
                          href: 'url_details({company_id:grid.appScope.company_id,article_id:row.entity.id})',
                          classes: 'link',
                          filter: {type:'input'}
                      },
                      { name: 'date', enableSorting: true,enableCellEdit: false, enableFiltering: false,groupingShowAggregationMenu: false, enableColumnMenus: true,
                          displayName: 'Date',
                          groupingShowGroupingMenu: false
                      },
                      { name: 'company', enableSorting: false,enableCellEdit: false,groupingShowAggregationMenu: false,enableColumnMenu: false,
                          displayName: 'Companies',
                          filter: {type:'select'}
                      },
                      { name: 'status', enableSorting: false,enableCellEdit: false,groupingShowAggregationMenu: false,enableColumnMenu: false,
                          displayName: 'Status',
                          filter: {type:'select'}
                      }
                    ]
                  });
        }]);
    {% endraw %}
    </script>
    {% raw %}
    <h1 class="nice-title">{{ _('Sorry this page is not avaible in this version. If you have unattached article pls contact with administrator') }}<span></span></h1>
    <div ng-controller="article_list">
        <h1 class="nice-title">{{ _('Article list') }}<span></span></h1>
        <h1 class="nice-title" style="margin-left: 125px">{{ _('Create article') }}<span></span></h1>
        <a class="h1-btn icon icon-add" href="{{ url_create_article }}" title="{{ _('CREATE NEW ARTICLE') }}"><img src="../../static/front/img/ico/articles.png" /></a>
        <div ng-if="!load_contr">{{_('Loading...')}}</div>
        <div id="grid1" ui-grid-edit ui-grid-grouping ui-grid-pagination ui-grid="gridOptions1"></div>
    </div>
    {% endraw %}
{% endblock portal_content %}
