{% extends "index_lazy_layout.html" %}

{% block title %}Profireader - Articles list{% endblock title %}

{% block portal_content %}


    <script>
        module.controller('article_list', ['$scope', '$ok', '$sce', 'uiGridConstants','uiGridGroupingConstants','$timeout', function ($scope, $ok, $sce, uiGridConstants, uiGridGroupingConstants,$timeout) {

            $scope.url_details = {{ raw_url_for('article.details')|safe }};
            $scope.url_create_article = '{{ url_for('article.article_show_form')|safe }}';

            $scope.url_list = {{ raw_url_for('article.show_mine')|safe }};
            $scope.url_search_article = '{{ url_for('article.load_mine')|safe }}';

            $scope.$$translate = {{ translates('article_list')|safe }};

            {% raw %}

            $scope.update = function(){
                $scope.paginationOptions.pageNumber = 1;
                $scope.sendData($scope.gridOptions1.columnDefs[0].filter.term,$scope.paginationOptions);
            };

            $scope.get_colored_title = function (text_to_change) {
                return text_to_change
            };

            $scope.cancel = function () {
                window.location.href = $scope.url_back();
                return false;
            };

             $scope.refresh = function(){
                $scope.gridOptions1.columnDefs[0].filter.term = '';
                $scope.gridOptions1.columnDefs[2]['filter']['term'] = '1';
                $scope.gridOptions1.columnDefs[3]['filter']['term'] = '1';
                $scope.chosen_company = null;
                $scope.chosen_status = null;
                $scope.sendData('', $scope.paginationOptions);
            };

            $scope.sendData = function (new_search_text, paginationOptions) {
                $scope.loading = true;
                $scope.error = '';
                var data = {};
                data.search_text = (new_search_text !== false) ? new_search_text : null;
                data.chosen_company = $scope.chosen_company ? $scope.chosen_company : null;
                data.chosen_status = $scope.chosen_status ? $scope.chosen_status : null;
                data.pages = $scope.paginationOptions.pageNumber;
                data.pageSize = $scope.paginationOptions.pageSize;
                data.sort_date = $scope.paginationOptions.sort;
                $ok($scope.url_search_article, data, function (resp) {
                    $scope.data = resp;
                    $scope.gridOptions1.totalItems = resp.total;
                    for(var m=0;m<$scope.data.grid_data.length;m++){
                        if($scope.data.grid_data[m]['level'])
                            $scope.data.grid_data[m].$$treeLevel = 0
                    }
                    $scope.gridOptions1.columnDefs[3]['filter']['selectOptions'] = $scope.data.statuses;
                    $scope.gridOptions1.columnDefs[2]['filter']['selectOptions'] = $scope.data.companies;
                }).finally(function () {
                    $scope.loading = false;
                    $scope.load_contr = true
                });
            };

            $scope.FilteredSt = function( row, rowRenderIndex, col, colRenderIndex ) {
                if(!$scope.loading) {
                    if (!$scope.index1)
                        $scope.index1 = 0;
                    if (col.filters[0].term && $scope.index1 !== col.filters[0].term) {
                        $scope.chosen_status = $scope.data.statuses[col.filters[0].term - 1]['label'] === 'All' ? undefined : $scope.data.statuses[col.filters[0].term - 1]['label'];
                        $scope.paginationOptions.pageNumber = 1;
                        $scope.sendData('', $scope.paginationOptions);
                        $scope.index1 = col.filters[0].term;
                    } else if (!col.filters[0].term) {
                        $scope.refresh()
                    }
                }
              };

            $scope.FilteredCom = function( row, rowRenderIndex, col, colRenderIndex ) {
                if(!$scope.loading) {
                    if (!$scope.index)
                        $scope.index = 0;
                    if (col.filters[0].term && $scope.index !== col.filters[0].term) {
                        $scope.chosen_company = $scope.data.companies[col.filters[0].term - 1]['label'] === 'All' ? undefined : $scope.data.companies[col.filters[0].term - 1]['id'];
                        $scope.paginationOptions.pageNumber = 1;
                        $scope.sendData('', $scope.paginationOptions);
                        $scope.index = col.filters[0].term;
                    } else if (!col.filters[0].term) {
                        $scope.refresh()
                    }
                }
              };

            $scope.gridOptions1 = {
                    data: 'data.grid_data',
                    paginationPageSizes: [25, 50, 75],
                    paginationPageSize: 25,
                    enableFiltering: true,
                    enableSorting: true,
                    useExternalPagination: true,
                    useExternalSorting: true,
                    useExternalFiltering: true,
                    treeRowHeaderAlwaysVisible: false,
                    columnDefs: [
                      { name: 'Title', enableSorting:false,enableCellEdit: false,groupingShowAggregationMenu: false, enableColumnMenu: false,
                          width: '35%', cellTemplate: '<div ng-class="link" style="cursor:pointer;padding-left: 10px"><a href="{{ grid.appScope.url_details({company_id:grid.appScope.company_id,article_id:row.entity.id})}}" ng-bind="row.entity.Title"></a></div>',
                          filter: {
                            type: uiGridConstants.filter.INPUT}
                      },
                      { name: 'Date',enableSorting: true,enableCellEdit: false, enableFiltering: false,groupingShowAggregationMenu: false, enableColumnMenus: true,
                          groupingShowGroupingMenu: false
                      },
                      { name: 'Campanies', enableSorting: false,enableCellEdit: false,groupingShowAggregationMenu: false,enableColumnMenu: false,
                          filter: {
                            term: '1',
                            type: uiGridConstants.filter.SELECT},
                          headerCellClass: $scope.FilteredCom
                      },
                      { name: 'Status', enableSorting: false,enableCellEdit: false,groupingShowAggregationMenu: false,enableColumnMenu: false,
                          filter: {
                            term: '1',
                            type: uiGridConstants.filter.SELECT},
                          headerCellClass: $scope.FilteredSt
                      }

                    ],
                    onRegisterApi: function (gridApi) {$scope.setGridExtarnals(gridApi, $scope.sendData, $scope.paginationOptions)}
                  };



        }]);
    {% endraw %}
    </script>
    {% raw %}
    <div ng-init="sendData('', paginationOptions)" ng-controller="article_list">
        <h1 class="nice-title">{{ _('Article list') }}<span></span></h1>
        <!--<a class="h1-btn icon icon-add" href="{{ url_create_article() }}" title="{{ _('Create article') }}"></a>-->
        <h1 class="nice-title" style="margin-left: 125px">{{ _('Create article') }}<span></span></h1>
        <a class="h1-btn icon icon-add" href="{{ url_create_article }}" title="{{ _('CREATE NEW ARTICLE') }}"><img src="../../static/front/img/ico/articles.png" /></a>

        <div ng-if="!load_contr">{{_('Loading...')}}</div>

        <div ng-if="load_contr">
            <div ng-show="!areAllEmpty(data.articles)" class="grid" id="grid1" ui-grid-edit ui-grid-grouping ui-grid-pagination ui-grid="gridOptions1" ></div>
            <div ng-show="!loading && areAllEmpty(data.articles)">{{_('No publications')}}</div>
            <button ng-click="refresh()" ng-show="!loading && areAllEmpty(data.articles)" class="btn btn-warning" >Back</button>
            <!--<table style="width:100%">-->
                <!--<thead>-->
                <!--<th>-->
                <!--<th width="250px">{{_('Date')}}</th>-->
                <!--<th width="250px">{{_('Title')}}</th>-->
                <!--<th width="250px">{{_('Campanies')}}</th>-->
                <!--<th>{{_('Status')}}</th>-->
                <!--</thead>-->
                <!--<thead>-->
                <!--<th>-->
                    <!--<input ng-click="setFirstPage()" type="submit" value="{{_('Search')}}" style="width: 75%;">-->
                <!--</th>-->
                <!--<th><input style="width: 98%" type="text" placeholder="{{_('Search')}}" ng-model="data.search_text">-->
                <!--</th>-->
                <!--<th>-->
                    <!--<select style="width: 100%; padding: 5px;" ng-model="data.chosen_company"-->
                            <!--ng-options="comp.name for comp in data.companies | orderBy:'id' track by comp.id"></select>-->
                <!--</th>-->
                <!--<th>-->

                    <!--<select style="width: 100%; padding: 5px;" ng-model="data.chosen_status">-->
                        <!--<option ng-repeat="status in data.statuses">{{ status }}</option>-->
                    <!--</select>-->
                <!--</th>-->
                <!--</thead>-->
                <!--<tbody ng-repeat="article_dict in data.articles">-->


                <!--<tr ng-if="article_dict.company_count>1">-->
                    <!--<td rowspan="{{ article_dict.company_count }}" width="250px">{{-->
                        <!--article_dict.article.mine_version.md_tm }}-->
                    <!--</td>-->
                    <!--<td rowspan="{{ article_dict.company_count }}" width="250px"><a-->
                            <!--href="{{ url_details({company_id:'0',article_id:article_dict.article.id}) }}"-->
                            <!--ng-bind-html="highlightSearchResults(article_dict.article.mine_version.title, data.original_search_text)">-->
                    <!--</a></td>-->
                <!--</tr>-->
                <!--<tr ng-if="article_dict.company_count>1"-->
                    <!--ng-repeat="companies in article_dict.article.submitted_versions">-->

                    <!--<td width="250px"-->
                        <!--ng-if="companies.status==data.original_chosen_status||!data.original_chosen_status">{{-->
                        <!--companies.company.name }}-->
                    <!--</td>-->
                    <!--<td ng-if="companies.status==data.original_chosen_status||!data.original_chosen_status">{{-->
                        <!--companies.status }}-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr ng-if="article_dict.company_count==1">-->
                    <!--<td width="250px">{{ article_dict.article.mine_version.md_tm }}</td>-->
                    <!--<td width="250px"><a href="{{ url_details({company_id:'0',article_id:article_dict.article.id}) }}"-->
                                         <!--id="{{ article_dict.article.id }}"-->
                                         <!--ng-bind-html="highlightSearchResults(article_dict.article.mine_version.title, data.original_search_text)"></a>-->
                    <!--</td>-->
                    <!--<td width="250px">{{_('Not sent to any company yet')}}</td>-->
                    <!--<td>Not sent</td>-->
                <!--</tr>-->
                <!--</tbody>-->

            <!--</table>-->
            <!--&lt;!&ndash;<div ng-show="!loading && !areAllEmpty(data.articles)" ng-include="'pagination.html'"></div>&ndash;&gt;-->
            <!--<div ng-show="!loading && areAllEmpty(data.articles)">{{_('No publications')}}</div>-->
        </div>
    </div>
    {% endraw %}

{% endblock portal_content %}
