<script>
    function getColored(article){
        text = article.short;
        searchText = {{ search_text|tojson }};
        coloredText = text.replace(searchText, '<span style="color:blue">'+searchText+'</span>');
        console.log()
        document.write(coloredText).html();
    }
</script>
{% for article_id, article in articles.items() %}
    <div class="block-item list-elements">
        <div class="item-type article">
            <a href="{{ url_for('front.division', division_name=article['division']['name'], page=1, search_text='') }}">{{ article['division']['name']|safe }}</a>
        </div>
        <h2 class="item-title">
            <a href="{{ url_for('front.details', article_portal_division_id=article['id']) }}">{{ article['title']|safe }}</a>
            {% if article['tags'] %}
                <span class="tag-in-article">
                    {% for tag in article['tags'] %}
                        <a href="#">{{ tag }}</a>
                    {% endfor %}
                </span>
            {% endif %}
        </h2>
        <div class="item-short-content">
            <script type="text/javascript">
                getColored({{ article|tojson }});
            </script>
        </div>
        <div class="item-additional-info">
            <a href="{{ url_for('front.subportal', member_company_id = article['company']['id'], member_company_name = article['company']['name']) }}" class="item-company">{{ article['company']['name']|safe }}</a>
            <div class="item-publication-date">{{ article['publishing_tm']|safe }}</div>
        </div>
        <div class="bottom-hide"></div>
        <img {{ prImage(article['image_file_id']) }} class="block-item-img"/>
    </div>
{% endfor %}
