<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 footer-menu">
                <ul class="">
                    <li>
                        <a href="/">{{ _('Portal home') }}</a>
                    </li>
                    {% for division in portal.divisions %}
                        {% if division.portal_division_type_id != 'index' %}
                            <li>
                                <a  href="{% if division.portal_division_type_id != 'company_subportal' %}{{ url_for('front.division', division_name=division.name, page=1, search_text='') }}{% else %}{{ url_for('front.subportal', member_company_id = division['member_company']['id'] ,
                                        member_company_name = division['member_company']['name']) }}{% endif %}">{{ division.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="promo">Портал створено в рамках проекту «Купуймо разом!»що фінансується програмою</div>

            <div class="social-block">{% include 'social.html' %}</div>

            <div class="copiright">
                <p>Powered by ProfiReader.com</p>
            </div>

        </div>
    </div>

</footer>