{#TODO AA by OZ: pls remove explicit url. use url_for#}
{% include '_ruslan/reader/_reader_nav.html' %}
<script>
    $(document).ready(function(){
        add('list')
    });
</script>
{% for article_id, article in articles.items() %}
    <div class="block-item list-elements">
        <div class="item-type article">
            <a href="//{{ article['portal']['host']|safe }}/{{ article['division']['name'] }}/1/?search_text=">{{ article['division']['name']|safe }}</a>
        </div>
        <h2 class="item-title">
            <a href="{{ url_for('article.details_reader', article_portal_division_id=article_id) }}">{{ article['title']|safe }}</a>
            {% if article['tags'] %}
                <span class="tag-in-article">
                    {% for tag in article['tags'] %}
                        <a href="#">{{ tag }}</a>
                    {% endfor %}
                </span>
            {% endif %}
        </h2>
        <div class="item-short-content">
            <p>{{ article['short']|safe }}</p>
        </div>
        <div class="item-additional-info">
            <a href="//{{ article['portal']['host']|safe }}/_c/{{ article['company']['id']|safe }}/{{ article['company']['name']|safe }}" class="item-company">{{ article['company']['name']|safe }}</a>
            <div class="item-read_count">Read: {{ article['read_count'] }}</div>
            <div class="item-publication-date">{{ article['publishing_tm']|safe }}</div>
        </div>
        <div class="bottom-hide"></div>
        <img src="//static.profireader.com/static/images/0.gif" class="block-item-img" style="background-image: url({{ fileUrl(article['image_file_id']) }})"/>
    </div>
{% else %}
    {{ __('You dont have favorite articles') }}
{% endfor %}
<br/>
{% include 'partials/pager.html' %}