<div class="container">
    <div class="row reader-list-nav menu-company ">
        <div class="col-lg-12">
            <ul>
                <li><a class="reader_button" href="{{ url_for('reader.list_reader') }}">News</a></li>
                <li><a class="reader_button" href="{{ url_for('reader.list_reader', favorite=True) }}">Favorite</a></li>
                <li><a class="reader_button" href="{{ url_for('reader.profile') }}">Subscriptions</a></li>
            </ul>
        </div>
    </div>
</div>