{% extends "index_layout_new.html" %}
{% block title %}{{ _('Profireader reader list') }}{% endblock title %}

{% block portal_content %}
<script>
module.controller('grid_reader', ['$scope', '$uibModal', '$ok', '$sce', 'uiGridConstants', '$timeout',



    function ($scope, $uibModal, $ok, $sce, uiGridConstants, $timeout) {
        $scope.url_search_translations = {{ raw_url_for('reader.profile')|safe }}
        {% raw %}
        $scope.sendData = function (grid_data, setdatafuctions) {
                        $scope.loading = true;
                        return $ok($scope.url_search_translations({}), grid_data, setdatafuctions).finally(function () {
                            $scope.loading = false;
                            $scope.load_contr = true
                        });
                    };


        $scope.gridOptions1 = $.extend({}, $scope.gridOptions, {
                        loadGridData: $scope.sendData,
                        columnDefs: [
                            {
                                name: 'portal_logo', enableCellEdit: false, type: 'img'
                            }, {
                                name: 'portal_name', enableSorting: true, enableCellEdit: false, filter: {type:'select'}
                            }, {
                                name: 'package_name', enableCellEdit: false, enableColumnMenu: false
                            }, {
                                name: 'start_tm', enableCellEdit: false, enableColumnMenu: false
                            }, {
                                name: 'end_tm', enableCellEdit: false, enableColumnMenu: false
                            }, {
                                name: 'article_remains', enableCellEdit: false, enableColumnMenu: false
                            }
                        ]
                    });
        {% endraw %}
    }])
</script>
{% raw %}
   <div ng-controller="grid_reader">
        <div class="grid" id="grid1" ui-grid-pagination ui-grid-selection ui-grid-edit ui-grid="gridOptions1"></div>
        <a ng-show="load_contr && !areAllEmpty(datas.grid_data)" class="btn btn-danger"
           ng-class="{'disabled': ( isSelectedRows === false )}" style="text-align: center"
           ng-click="showModalDelete()">Delete selected rows</a>
    </div>
{% endraw %}
{% endblock portal_content %}
