{% extends "index_lazy_layout.html" %}


{% block head %}
    {{ super() }}
    {% include '_ruslan/partials/_header_files_grid.html' %}
{% endblock head %}

{% block title %}{{ _('Profireader reader profile') }}{% endblock title %}

{% block portal_content %}
    {% include '_ruslan/reader/_reader_nav.html' %}
    <script type="text/ng-template" id="grid_reader_modal.html">
<h4><textarea>Plan text</textarea></h4>
        <div class='modal-footer'>
            <button id='buttonClose' class='btn btn-primary' ng-click='cancel()'>Close</button>
        </div>
    </script>
<script>



module.controller('grid_reader_modal', function ($scope, $uibModalInstance, list) {
              $scope.list = list;
              $scope.cancel = function () {
                $uibModalInstance.close($scope.list);
              };
        });

module.controller('grid_reader', function ($scope, $uibModal, $ok, $sce, uiGridConstants, $timeout) {
        $scope.url_search_translations = {{ raw_url_for('reader.profile')|safe }}
        $scope.reader_edit_profile = {{ raw_url_for('reader.edit_portal_subscription')|safe }};
        {% raw %}
        $scope.sendData = function (grid_data, callback) {
            return $ok($scope.url_search_translations({}), grid_data, callback);
            };
        $scope.portal_link = function(link){
            return 'http://' + link;
        };

$scope.showModalForEditNew = function () {
                        var list = $scope.list_select;
                        var modalInstance = $uibModal.open({
                            templateUrl: 'grid_reader_modal.html',
                           controller: 'grid_reader_modal',
                            resolve: {
                                'list': function () {
                                    return list
                                }
                            }
                        });
                        modalInstance.result.then(function (list) {
                           // $scope.deleteItems(list);
                        });
                    };
        $scope.gridOptions1 = $.extend({}, $scope.gridOptions, {
                        loadGridData: $scope.sendData,
                        columnDefs: [
                            {
                                name: 'portal_logo', type: 'img'
                            }, {
                                name: 'portal_name', filter: {type: 'input'}, type: 'link',
                                href: 'portal_link(row.entity.portal_host)'
                            }, {
                                name: 'package_name', type: 'show_modal',
                                modal: "grid.appScope.showModalForEditNew(row, col, row.entity[col.field])",
                                filter: {type: 'input'}
                            }, {
                                name: 'start_tm', filter: {type: 'date_range'}
                            }, {
                                name: 'end_tm'
                            },
                            {
                                name: 'article_remains'
                            },
                            {name: 'configure', type: 'link', href: 'reader_edit_profile({reader_portal_id:row.entity.user_portal_reader_id})'}
                        ]
                    });
        {% endraw %}
    })
</script>
{% raw %}
   <div ng-controller="grid_reader">
        <div class="grid" id="grid1" ui-grid-pagination ui-grid="gridOptions1"></div>
        <a ng-show="!areAllEmpty(datas.grid_data)" class="btn btn-danger"
           ng-class="{'disabled': ( isSelectedRows === false )}" style="text-align: center"
           ng-click="showModalDelete()">Delete selected rows</a>
    </div>
{% endraw %}
{% endblock portal_content %}
