{% extends "index_lazy_layout.html" %}

{% block title %}Profireader - Article Details{% endblock title %}

{% block portal_content %}
{% include 'partials/reader/head.html' %}
{% include 'partials/reader/reader_nav.html' %}
<script>
var favorite = {{ favorite|tojson }};
function add_delete_favorite(boolean){
    var article_portal_division_id = {{ article['id']|tojson }};
    $.ajax({
        type: 'post',
        url: '{{ url_for('article.add_delete_favorite') }}',
        data: {'favorite': boolean, 'article_portal_division_id': article_portal_division_id },
        success: function(){
            var text = document.getElementById('favorite');
            favorite = boolean;
            text.innerHTML = favorite?'Delete from favorite':'Add to favorite'
        }
    })
}
</script>
        <div class="block-item full-block-info" style="height: auto;">
        <h2 class="item-title">{{ article['title']|safe }}</h2>

        <h3 class="item-subtitle">Покроковий план досягнення успіху</h3>

        <div class="item-additional-info-top"
             style="display: block; width: 100%; padding-bottom: 5px; border-bottom: 1px #ccc solid; margin-bottom: 15px;">
            <div class="item-company">
                <a href >{{ article['company']['name']|safe }}</a>
            </div>
            <div class="item-publication-date">{{ article['publishing_tm']|safe }}</div>
            <div class="item-favorite" id='favorite' onclick="favorite?add_delete_favorite(false):add_delete_favorite(true);">
                <script>document.write(favorite?'Delete from favorite':'Add to favorite')</script></div>
            <div class="item-comments">{{_('Comments')}} 0</div>
        </div>
        <div class="article-short">
            {{ article['short']|safe }}
        </div>
        <div class="article-content">
            <div class="s-cover-l" {{ prImage(article['image_file_id']) }}></div>
            {{ article['long'] | safe }}
        </div>

    {% if article['tags'] %}
        <div class="tag-list">
            {% for tag in article['tags'] %}
                <a href="#">{{ tag }}</a>
            {% endfor %}
        </div>
    {% endif %}
    </div>




{% endblock portal_content %}