{# see: https://github.com/mbr/flask-bootstrap/blob/master/flask_bootstrap/templates/bootstrap/base.html #}
{% extends "bootstrap/base.html" %}

{% block html_attribs %} lang="en"{% endblock %}
{% block title %}{{ _('Profireader title') }}{% endblock %}

{% block metas %}
    {{ super() }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock metas %}

{% block styles %}
    <link href="/static/css/_profreader.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/oles.css" rel="stylesheet">

{%- endblock styles %}

{%- block head %}
    {{ super() }}
    <script>
    var pr_angular_modules = ['ui.bootstrap', 'profireaderdirectives', 'ngSanitize', 'ajaxFormModule', 'profireaderdirectives', 'ngAnimate', 'ngTouch', 'ui.slider'];
    </script>


    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="/static/favicon.ico" type="image/gif"/>

    {{ config_variables()|safe }}

    <script src="{{ url_for('static', filename = 'new/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'new/jquery/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename = 'new/bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename = 'new/angular/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'new/angular-bootstrap/ui-bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'new/angular-bootstrap/ui-bootstrap-tpls.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'angular-ajax-validator/ngAjaxValidator.js') }}"></script>
     <script src="{{ url_for('static', filename = 'angular-ui-slider/slider.js') }}"></script>



{#    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.2.js"></script>#}
    {#    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.2.js"></script>#}

    {#    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>#}

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
{#    {% if angular_ui_bootstrap_version %}#}
{#        <script src="{{ angular_ui_bootstrap_version }}"></script>#}
{#    {% endif %}#}
    {#<script src="{{ url_for('static', filename = 'image_editor/demo/js/main.js') }}"></script>#}
    {#    <script src="/static/filemanager/angular-filemanager.min.js"></script><!-- Comment if you need to use raw source code -->#}

    {#    <script src="/static/filemanager/cached-templates.js"></script><!-- Comment if you need to use raw source code -->#}
    {#    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>#}

    <script src="/static/js/underscore-min.js"></script>

    <!-- ui-select files -->
{#    <script src="/static/js/select.js"></script>#}
    <!-- profireader_angular.js uses /static/js/select.js -->
    <script src="/static/js/profireader_angular.js"></script>

{#    <script src="/static/js/jquery.smooth-scroll.js"></script>#}
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>#}



    <script>
        {% for message in get_flashed_messages() %}
            add_message('{{ message }}', 'warning');
        {% endfor %}
    </script>

{%- endblock head %}


{% block body_attribs %} ng-app="Profireader" ng-model-options="{{ "{" }}updateOn: 'default change blur', debounce:
    {{ "{" }} 'default': 10, 'change': 250, 'blur': 0 {{ "}" }} {{ "}" }}" {% endblock body_attribs %}

{% block navbar %}
    {% include '_ruslan/partials/_user_menu.html' %}
{% endblock navbar %}


{% block content %}

    {% include 'templates-angular.html' %}

    <div class="container widewrapper">
        {% block portal_content %}
            {% include 'flashed-messages.html' %}
        {% endblock portal_content %}
    </div>


{% endblock content %}

{% block scripts %}
    {% include 'partials/portal_footer_Profireader.html' %}
{% endblock scripts %}

