

{% extends "index_lazy_layout.html" %}

{% block title %}Profireader - Articles{% endblock title %}

{% block portal_content %}


    <script>
        module.controller('article_list', ['$scope', '$ok', '$sce', 'uiGridConstants','uiGridGroupingConstants', function ($scope, $ok, $sce, uiGridConstants, uiGridGroupingConstants) {

            $scope.url_details = {{ raw_url_for('portal.publication_details')|safe }};
            $scope.url_search_article = {{ raw_url_for('portal.publications_load')|safe }};

            $scope.own_company_id = '{{ company_id }}';
            $scope.$$translate = {{ translates('article_list')|safe }};

            {% raw %}
            $scope.pos1 = '1';$scope.pos2 = '1';

            $scope.update = function(){
                $scope.paginationOptions.pageNumber = 1;
                $scope.sendData($scope.gridOptions1.columnDefs[0].filter.term, $scope.paginationOptions);
            };

            $scope.refresh = function(){
                $scope.gridOptions1.columnDefs[0].filter.term = '';
                $scope.gridOptions1.columnDefs[2]['filter']['term'] = '1';
                $scope.gridOptions1.columnDefs[3]['filter']['term'] = '1';
                $scope.company_id = null;
                $scope.status = null;
                $scope.sendData('', $scope.paginationOptions);
            };

            $scope.Filtered = function( row, rowRenderIndex, col, colRenderIndex) {
                if (col.filters[0].term){
                    $scope.paginationOptions.pageNumber = 1;
                    if($scope.gridOptions1.columnDefs[2].filter['term'] == col.filters[0].term && $scope.pos1 != $scope.gridOptions1.columnDefs[2].filter['term']){
                        $scope.pos1 = $scope.gridOptions1.columnDefs[2].filter['term'];
                        $scope.company_id = $scope.companies[col.filters[0].term - 1]['label'] === 'All'? undefined: $scope.companies[col.filters[0].term - 1]['id'];
                        $scope.sendData('', $scope.paginationOptions);
                    }
                    if($scope.gridOptions1.columnDefs[3].filter['term'] == col.filters[0].term && $scope.pos2 != $scope.gridOptions1.columnDefs[3].filter['term']){
                        $scope.pos2 = $scope.gridOptions1.columnDefs[3].filter['term'];
                        $scope.status = $scope.statuses[col.filters[0].term - 1]['label'] === '-- all --'? undefined: $scope.statuses[col.filters[0].term - 1]['label'];
                        $scope.sendData('', $scope.paginationOptions);
                    }
                }else{
                    $scope.refresh()
                }
              };

            $scope.sendData = function (new_search_text, paginationOptions) {
                var data = {};
                $scope.loading = true;
                data.article_id = $scope.article_id ? $scope.article_id : null;
                data.company_id = ($scope.company_id !== ' ') ? $scope.company_id : null;
                data.grid_data = {
                    'status': $scope.status ? $scope.status : null,
                    'new_status': $scope.new_status ? $scope.new_status : null,
                    'page': $scope.paginationOptions.pageNumber,
                    'pageSize': $scope.paginationOptions.pageSize,
                    'search_text': (new_search_text !== false) ? new_search_text : $scope.data['search_text'],
                    'sort_date':$scope.paginationOptions.sort
                };
                $ok($scope.url_search_article({company_id: $scope.own_company_id}), data, function (resp) {
                    $scope.datas = resp;
                    $scope.publications = resp.publications;
                    $scope.gridOptions1.totalItems = resp.total;
                    $scope.statuses = resp.statuses;
                    $scope.companies = resp.companies;
                    $scope.gridOptions1.columnDefs[2]['filter']['selectOptions'] = resp.companies;
                    $scope.gridOptions1.columnDefs[3]['filter']['selectOptions'] = $scope.statuses ;
                }).finally(function () {
                    $scope.loading = false;
                    $scope.load_contr = true
                });
            };

            $scope.gridOptions1 = {
                    data: 'datas.grid_data',
                    paginationPageSizes: [10, 25, 50, 75],
                    paginationPageSize: $scope.paginationOptions.pageSize,
                    enableFiltering: true,
                    useExternalPagination: true,
                    useExternalSorting: true,
                    useExternalFiltering: true,
                    columnDefs: [
                      { name: 'Title', enableSorting: false,enableCellEdit: false, enableColumnMenu: false,
                          width: '35%', cellTemplate: '<div class="link" ng-class="link"><a href="{{ grid.appScope.url_details({company_id:grid.appScope.own_company_id,article_id:row.entity.id})}}" ng-bind="row.entity.Title"></a></div>',
                          filter: {
                            type: uiGridConstants.filter.INPUT}
                      },
                      { name: 'Date',enableCellEdit: false, enableFiltering: false },
                      { name: 'Company', enableSorting: false,enableCellEdit: false, enableColumnMenu: false,
                          filter: {
                            term: '1',
                            type: uiGridConstants.filter.SELECT},
                          headerCellClass: $scope.Filtered

                      },
                      { name: 'Publication status', enableSorting: false, cellClass:'blue', editableCellTemplate: '<div class = "ui_dropdown"><form name="inputForm"><select ng-class="\'colt\' + col.uid" ui-grid-edit-dropdown ng-model="MODEL_COL_FIELD" ng-options="field[editDropdownIdLabel] as field[editDropdownValueLabel] CUSTOM_FILTERS for field in row.entity.allowed_status"></select></form></div>',editDropdownValueLabel: 'value',
                          enableColumnMenu: false,
                          filter: {
                            term: '1',
                            type: uiGridConstants.filter.SELECT},
                          headerCellClass: $scope.Filtered
                      }

                    ],
                    onRegisterApi: function (gridApi) {$scope.setGridExtarnals(gridApi, $scope.sendData, $scope.paginationOptions)}
                  };



        }]);
    {% endraw %}
    </script>
    {% include 'company/company_base_angular.html' %}
    {% raw %}
    <div ng-init="sendData('', $scope.paginationOptions)" ng-controller="article_list">
        <div ng-if="!load_contr">{{_('Loading...')}}</div>
        <div ng-if="load_contr">
            <div ng-show="!areAllEmpty(datas.grid_data)" class="grid" id="grid1" ui-grid-edit ui-grid-pagination ui-grid="gridOptions1" ></div>
            <div ng-show="!loading && areAllEmpty(datas.grid_data)">{{_('No publications')}}</div>
            <button ng-click="refresh()" ng-show="!loading && areAllEmpty(datas.grid_data)" class="btn btn-warning" >Back</button>
    </div>
    </div>
    {% endraw %}

{% endblock portal_content %}


