{% extends "_ruslan/_index_layout.html" %}
{% block title %}Profireader{% endblock title %}
{% block head %}
    {{ super() }}
    {% include '_ruslan/partials/_header_files_articles.html' %}
{% endblock head %}

{% block portal_content %}
    {% from 'macros.html' import scripts %}
    {{ scripts(names=['croper']) }}
    <script>
        module.controller('portal_create', ['$scope', '$uibModal', function ($scope, $uibModal) {
            angularControllerFunction('CompanyMenuController', 'set_selected_company_menu')('home');

            $scope.url_after_save = {{ raw_url_for('company.profile')|safe }};

            $scope.afterSave = function (resp) {
                window.location.href = $scope.url_after_save({company_id: resp.company_owner_id})
            };
            $scope.$$translate = {{ translates('portal_create')|safe }};

            $scope.addDivision = function () {
                $scope.data.portal.divisions.push({
                    name: '',
                    portal_division_type_id: 'news'
                });
                return false;
            };

            $scope.removeDivision = function (index) {
                $scope.data.portal.divisions.splice(index, 1);
            };


{#            $scope.data.host_profi_or_own = 'profi';#}

        }]);
    </script>
    {% raw %}


    <div ng-controller="portal_create">
        <div class="container list-form" af
             af-after-save="afterSave"
             af-watch="data.portal"
             ng-model="data">
            <div class="row company">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><h3>Launch portal</h3></div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 create-new-company">

                    <button class="btn btn-default save-profile pull-right border-radius" type="button"
                            ng-click="$af.save(data)" ng-disabled="!$af.isActionAllowed(data, 'save') ">{{ _('Save new
                        profile') }}
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 image-company-profile create-img">
                    <div style="width: 400px;">
                        <div ng-model="data.image" pr-crop></div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 edit-company">
                    <div class="edit-block col-lg-12">
                        <div class="col-lg-2">Name:</div>
                        <div class="col-lg-10 edit-data">
                            <input type="text" class="form-control border-radius" id="basic-url"
                                   aria-describedby="basic-addon3" pr-validation-answer="data_validation:name"
                                   ng-model="data.portal.name">
                        </div>
                        <div class="col-lg-2">Host:</div>
                        <div class="col-lg-10 edit-data">
                            <label><input ng-value="'profi'" ng-model="data.portal.host_profi_or_own" type="radio"/>{{ _
                                ('Profireader
                                subdomain') }}</label> https://<input ng-disabled="data.portal.host_profi_or_own !==
                                'profi'"
                                                                      type="text" class=" border-radius"
                                                                      aria-describedby="basic-addon3"
                                                                      pr-validation-answer="data_validation:host"
                                                                      ng-model="data.portal.host_profi"/>.profireader
                            .com
                            <br/>

                            <label><input ng-value="'own'" ng-model="data.portal.host_profi_or_own" type="radio"/>{{ _
                                ('Own
                                subdomain')
                                }}</label> https://<input ng-disabled="data.portal.host_profi_or_own !== 'own'"
                                                          type="text" class=" border-radius" id=""
                                                          aria-describedby="basic-addon3"
                                                          pr-validation-answer="data_validation:host"
                                                          ng-model="data.portal.host_own"/>
                        </div>
                        <div class="col-lg-2">Layout:</div>
                        <div class="col-lg-10 edit-data">
                            <select ng-model="data.portal.portal_layout_id"
                                    ng-options="layout.id as layout.name for layout in data.layouts"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h3>Portal divisions
                    <button type="button" ng-click="addDivision()">{{ _('add division') }}</button>
                    <span af-validation-answer="data_validation:add_division"></span>
                </h3>
                <div class="portal_division_item">
                    <input type="text" placeholder="" disabled="disabled" value="{{ data.portal.name }}">
                    <select style="width: 150px" disabled="disabled">
                        <option>{{_('index division')}}</option>
                    </select>

                </div>
                <div class="portal_division_item" ng-if="division.portal_division_type_id != 'index'"
                     ng-repeat="(division_index, division) in data.portal.divisions">
                    <input pr-validation-answer="data_validation:divisions[division_index]"
                           type="text" placeholder="{{ _('Division name placeholder') }}"
                           ng-model="division.name">

                    <select style="width: 150px"
                            ng-model="division.portal_division_type_id">
                        <option ng-selected="division_type.id == division.portal_division_type_id"
                                ng-if="division_type.id != 'index'"
                                ng-repeat="(division_type_id, division_type) in data.division_types"
                                value="{{ division_type_id }}">{{ division_type.id }}
                        </option>
                    </select>

                    <select ng-if="division.portal_division_type_id == 'company_subportal'"
                            ng-init="division.settings.company_id = data.portal_company_members[0].id"
                            ng-model="division.settings.company_id" ng-options="member.id as member.name for member
                            in data.portal_company_members">
                    </select>
                    <span af-validation-answer="data_validation:remove_division[division_index]"></span>
                    <span class="link error" style="float: right"
                          ng-click="removeDivision($index)">X</span>
                </div>
            </div>
        </div>


    </div>
    {% endraw %}




    {#    <div ng-controller="portal_create">#}
    {#        <h2>{{_('Cteate portal')}}</h2>#}
    {##}
    {#        <div ng-click="chooseImage()"#}
    {#             style="float: left; width: 190px; height: 100px; border: 1px solid #aaa;#}
    {#                     background-position: center;#}
    {#                     background-repeat: no-repeat;#}
    {#                     background-color: white;#}
    {#                     background-size: contain; background-image:url({{ logo_file_url }});">#}
    {#            {{ _('Select portal logo') }}#}
    {#        </div>#}
    {##}
    {#        <div style="width: 800px; margin-left: 200px;">#}
    {#            <div class="item">#}
    {#                <span class="input_label">{{_('Portal name')}}:</span><input type="text"#}
    {#                                                                             placeholder="{{_('Portal name')}}"#}
    {#                                                                             ng-model-options="{updateOn : 'change keypress'}"#}
    {#                                                                             ng-model="data.portal.name">#}
    {#                <span af-validation-answer="data_validation:name"></span>#}
    {#            </div>#}
    {#            <div class="item">#}
    {#                        <span class="input_label">{{_('Portal host')}}: <span#}
    {#                                style="color: black">http://</span></span><input type="text"#}
    {#                                                                                 placeholder="{{_('Host name')}}"#}
    {#                                                                                 ng-model="data.portal.host">#}
    {#                <span af-validation-answer="data_validation:host"></span>#}
    {#            </div>#}
    {#            <div class="item">#}
    {#                <span class="input_label">{{_('Portal layout')}}:</span><select#}
    {#                    ng-model="data.portal.portal_layout_id"#}
    {#                    ng-options="layout.id as layout.name for layout in data.layouts"></select>#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {##}
    {#        <h4>{{_('Portal divisions')}}</h4>#}
    {##}
    {#    <div class="item">#}
    {#        <input type="text" placeholder="" disabled="disabled"#}
    {#               value="{{ data.portal.name }}">#}
    {#        <select style="width: 150px" disabled="disabled">#}
    {#            <option>{{ _('index') }}</option>#}
    {#        </select>#}
    {##}
    {#    </div>#}
    {#    <div class="item" ng-if="division.portal_division_type_id != 'index'"#}
    {#         ng-repeat="(division_index, division) in data.portal.divisions">#}
    {#        <input type="text" placeholder="Division name" ng-model="division.name">#}
    {#        <select style="width: 150px" ng-model="division.portal_division_type_id">#}
    {#            <option ng-selected="division_type.id == division.portal_division_type_id"#}
    {#                    ng-if="division_type.id != 'index'"#}
    {#                    ng-repeat="(division_type_id, division_type) in data.division_types"#}
    {#                    value="{{ division_type_id }}">{{ division_type.id }}#}
    {#            </option>#}
    {#        </select>#}
    {#        <input type="number" placeholder="Articles per page" ng-model="division.page_size">#}
    {#        <select ng-if="division.portal_division_type_id == 'company_subportal'"#}
    {#                ng-model="division.settings.company_id">#}
    {#            <option ng-selected="portal_member_company.id == division.settings.company_id"#}
    {#                    ng-repeat="(portal_member_company_id, portal_member_company) in data.portal_company_members"#}
    {#                    value="{{ portal_member_company_id }}">{{ portal_member_company.name }}#}
    {#            </option>#}
    {#        </select>#}
    {#        <span af-validation-answer="data_validation:divisions[division_index]"></span>#}
    {#                    <span class="link error" style="float: right"#}
    {#                          ng-click="removeDivision($index)">X</span>#}
    {#    </div>#}
    {#    <div class="item">#}
    {#        <input type="text" style="visibility: hidden"/>#}
    {#        <button type="button" ng-click="addDivision()">{{ _('add division') }}</button>#}
    {#        <span af-validation-answer="data_validation:add_division"></span>#}
    {#    </div>#}
    {##}
    {##}
    {#    <div class="item text-align-right">#}
    {#        <span af-validation-answer="data_validation:form"></span>#}
    {#        <input#}
    {#                type="submit"#}
    {#                ng-disabled="!$af.isActionAllowed(data, 'save')"#}
    {#                ng-click="$af.save(data)"#}
    {#                value="{{ data.id ? _('save') : _('create') }}"/>#}
    {##}
    {##}
    {#    </div>#}
    {##}
    {#    </div>#}
    {#    </div>#}



{% endblock portal_content %}
