{% extends "index_lazy_layout.html" %}

{% block head %}
    {{ super() }}
    {% include '_ruslan/partials/_header_files_grid.html' %}
{% endblock head %}

{% block title %}Profireader - Publications{% endblock title %}

{% block portal_content %}



    <script>
        module.controller('article_list', function ($scope, $ok, $sce, $publish) {
            angularControllerFunction('CompanyMenuController', 'set_selected_company_menu')('publications');
            $scope.company = {{ company.get_client_side_dict()|tojson|safe }};
            $scope.$$translate = {{ translates('article_list')|safe }};

            $scope.url_update_publication = {{ raw_url_for('article.article_show_form')|safe }};
            $scope.url_search_article = {{ raw_url_for('portal.publications_load')|safe }};

            $scope.url_front_publication_details = {{ raw_url_for('front.details')|safe }};
            $scope.url_front_publication_division = {{ raw_url_for('front.division')|safe }};

            $scope.url_front_publication_division_host = function (division_name, host) {
                return division_name ? ('//' + host + $scope.url_front_publication_division({division_name: division_name})) : '';
            }

            $scope.url_front_publication_details_host = function (publication_id, host) {
                return publication_id ? ('//' + host + $scope.url_front_publication_details({article_portal_division_id: publication_id})) : '';
            }

            {% raw %}
            $scope.noData = 'No publications';

            $scope.loadPublications = function (data, callback) {
                $ok($scope.url_search_article({company_id: $scope.company.id}), data, function (resp) {
                    callback(resp);
                    $scope.data = resp;
                    callback($scope.data);
                });
            };

            $scope.grid_action = function (id, action, row, column_name) {
                if (action === 'edit') {
                    window.location.href = $scope.url_update_publication({'publication_id': row['id']});
                    return;
                }

                else {
                    var modalInstance = $publish({
                        material_or_publication_id: row['id'],
                        action: action,
                        portal_id: $scope.data.portal['id'],
                        company_id: $scope.company['id']
                    });

                    modalInstance.result.then(function (updated_row) {
                        $scope.grid_change_row($scope.data, updated_row['publication']);
                    });
                }

            }

            $scope.gridOptions1 = $.extend({}, $scope.gridOptions, {
                loadGridData: $scope.loadPublications,
                columnDefs: [
                    {
                        name: 'status', afilter: {type: 'select'}, width: 100
                    },
                    {
                        name: 'visibility', afilter: {type: 'select'}, width: 100
                    }, {
                        name: 'actions', type: 'actions', onclick: 'grid_action', width: 300,
                    }

                    , {
                        name: 'division.name', type: 'link', target: 'front',
                        href: 'url_front_publication_division_host(row.entity.division.name, row.entity.portal.host)'
                    }

                    , {
                        name: 'title', type: 'link', target: 'front',
                        href: 'url_front_publication_details_host(row.entity.id, row.entity.portal.host)'
                    },
                    {
                        name: 'publishing_tm', afilter: {type: 'date_range'}
                    }
                ]
            });


        });
        {% endraw %}
    </script>
    {% include 'company/company_base_angular.html' %}
    {% raw %}

    <style>
        .pr-grid-cell-field-type-actions-action-publish {
            background-color: greenyellow;
        }

        .pr-grid-cell-field-type-actions-action-unpublish {
            background-color: #1ab7ea;
        }

        .pr-grid-cell-field-type-actions-action-delete {
            background-color: red;
        }
    </style>

    <div ng-controller="article_list">
        <h2>{{ _('Publications at portal `%(data.portal.name)s` (of company `%(data.company.name)s`)')}}</h2>
        <div class="grid" id="grid1" ui-grid-pagination ui-grid="gridOptions1"></div>
    </div>
    {% endraw %}

{% endblock portal_content %}


