
.nav-bg {
    background-color: #212121;
    padding-bottom: 10px;
}

.nav-bg li {
    list-style: none;
    display: inline;
    color: #18bc9c;
    padding-right: 15px;
}

.nav-bg ul {
    margin-top: 20px;
}

.container .navbar-header .navbar-brand {
    padding: 10px 0px;
}

.user-menu-dropdown ul {
    border-radius: 0;
    width: 100%;
    padding: 0;
}

.prof_login {
    font-size: 18px !important;
}

.user-profile .info .profile-thumbnail {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}

.profile-thumbnail {
    position: relative;
    float: left;
    /*border: 3px #ccc solid;*/
    width: 200px;
    height: 200px;
    /*background-size: contain;*/
    background: center center no-repeat;
    background-size: 200px 200px;
    transition: background-size 0.3s ease-in;
    -moz-transition: background-size 0.3s ease-in;
    -web-kit-transition: background-size 0.3s ease-in;
    border: 3px rgba(200, 200, 200, 0.5) solid;
    /*box-sizing: content-box;*/
}

.profile-thumbnail:hover {
    background-size: 256px 256px;
}

.form.info .img-upload-form {
    display: block;
    position: absolute;
    width: 200px;
}

.form.info .img-upload-form form {
    top: 240px;
    left: -50px;
    padding-left: 50px !important;
    z-index: 1;
}

.form.info .img-upload-form input {
    width: 200px;
}

.user-profile .info span,
.form.info span {
    display: inline-block;
    width: 170px;
    color: #777;
}

.user-profile .info span.data-timestamp {
    color: #111 !important;
}

.user-profile .info .item,
.form.info .item {
    padding: 2px 10px;
}

.user-profile .info .item:hover,
.form.info .item:hover {
    background: rgba(140, 14, 14, 0.05);
}

.profile-thumbnail .control {
    position: relative;
    bottom: -210px;
    left: -10px;
    z-index: 1;
    /*background: rgba(255, 255, 255, 0.9);*/
    font-size: 12px;
    width: 200px;
    padding: 0;
}

.profile-thumbnail .control span {
    width: 100px;
    margin: 0;
    padding: 0;
}

.profile-thumbnail .control a {
    width: 70px;
    margin: 2px;
    padding: 5px;
    cursor: pointer;
}

.profile-thumbnail .control a:hover {
    background: #fff;
}

.user-profile .info,
.topbar-menu-links .info {
    position: relative;
    padding-left: 220px;
}

.form input[btn-radio] {
    width: auto;
}

.profile-thumbnail .control form {
    padding-left: 0 !important;
}

.form {
    position: relative;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
}

.form form {
    position: relative;
    padding: 0;
    margin-bottom: 0;
    border: none;
    padding-left: 250px;
    background: transparent;
}

/*.form .profile-thumbnail {*/
/*position: absolute;*/
/*top: 10px;*/
/*left: 10px;*/
/*}*/

.prof_top_menu {
    font-size: 18px
}

.person-small-cover {
    border-radius: 50%;
    border: 3px #999 solid;
    width: 36px;
    height: 36px;
}

.logo-small-cover {
    width: 36px;
    height: 36px;
}

/*.nav > li > ul > li > a {*/
/*display: inline-block;*/
/*}*/

/*.navbar ul .fa {*/
/*font-size: 150%;*/
/*}*/

.navbar-collapse .selected {
    color: #18bc9c;
    text-decoration: underline;
}

.menu-company .selected {
    color: #fff;
    text-decoration: none;
    background-color: #18BCA2;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.input-group .dropdown-menu {
    display: none !important;
}

.join-company {
    margin-top: 15px;
}

.join-company h3 {
    margin-top: 5px;
    color: #383838;
}

.search-company input {
    border-radius: 0;
    border-color: #383838;
}

.search-company input:focus, .search-company input:active {
    border-color: #18BCA2;
}

.search-company button, .search-company button:hover {
    border-radius: 0;
    background-color: #CA2027;
    border-color: #CA2027;
}

.search-company button:focus {
    color: #fff;
    background-color: #C70000;
    border-color: #C70000;
}

.create-company button, .create-company button:hover {
    border-radius: 0;
    background-color: #24DC54;
    border-color: #24DC54;
}

.create-company button:focus {
    background-color: #04A52E;
    border-color: #04A52E;
}

.search-result {
    /*border: 1px solid #E4E4E4;*/
    margin-top: 30px;
}

.photo-search a {
    border-radius: 0;
    margin-top: 15px;
}

.join-new-company button, .join-new-company button:hover {
    width: 100%;
    margin-top: 30px;
    background-color: #18BCAB;
    border-color: #18BCAB;
    border-radius: 0;
}

.join-new-company button:focus, .join-new-company button:active {
    background-color: #119C8D;
    border-color: #119C8D;
}

.company-list {
    margin-top: 30px;
}

.company-list h2 {
    color: #383838;
    margin-bottom: 15px;
}

.company-list h4 {
    text-align: center;
    color: #CA2027;
}

.company-thumbnail {
    border-radius: 0;
}

.company-thumbnail button {
    padding: 5px;
    background-color: #18BCAB;
    border-color: #18BCAB;
    border-radius: 0;
    width: 100%;
}

.company-thumbnail button:focus, .company-thumbnail button:active, .company-thumbnail button:hover {
    background-color: #119C8D;
    border-color: #119C8D;
}



/* ----- LOGINATION & AUTHORITHATION ------------------ */

.via-social {
    text-align: left;
    font-size: 0;
}

.login-by {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 10px 10px 0 0;
    background: #eee;
    /*margin-bottom: 50px;*/
    background-size: cover;
}

/*.login-by span {*/
/*display: none;*/
/*position: absolute;*/
/*bottom: -31px;*/
/*background: #777;*/
/*color: #FFFFFF;*/
/*width: 65px;*/
/*box-sizing: border-box;*/
/*padding: 2px;*/
/*text-align: center;*/
/*font-size: 12px;*/

/*background: #152d00; /!* Old browsers *!/*/
/*background: -moz-linear-gradient(left,  #152d00 0%, #97d800 100%); /!* FF3.6+ *!/*/
/*background: -webkit-gradient(linear, left top, right top, color-stop(0%,#152d00), color-stop(100%,#97d800)); /!* Chrome,Safari4+ *!/*/
/*background: -webkit-linear-gradient(left,  #152d00 0%,#97d800 100%); /!* Chrome10+,Safari5.1+ *!/*/
/*background: -o-linear-gradient(left,  #152d00 0%,#97d800 100%); /!* Opera 11.10+ *!/*/
/*background: -ms-linear-gradient(left,  #152d00 0%,#97d800 100%); /!* IE10+ *!/*/
/*background: linear-gradient(to right,  #152d00 0%,#97d800 100%); /!* W3C *!/*/
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#152d00', endColorstr='#97d800',GradientType=1 ); /!* IE6-9 *!/*/
/*}*/

.login-by {
    box-sizing: content-box;
    border-bottom: 3px solid transparent;
    background-repeat: no-repeat;
}

.login-by:hover {
    border-color: #18BCAB;
}

.login-by:hover span {
    /*display: block;*/
    background: #555;
}

.login-by span i {
    display: none;
    font-size: 10px;
    /*margin-right: 5px;*/
}

.login-by-google {
    background-image: url("../../static/images/social/g.png");
}

.login-by-facebook {
    background-image: url("../../static/images/social/f.png");
}

.login-by-linkedin {
    background-image: url("../../static/images/social/l.png");
}

.login-by-microsoft {
    background-image: url("../../static/images/social/m.png");
}

.by-socials-block {
    float: left;
}
.by-profireader-block {
    float: right;
}

.tabs {
    border-bottom: 1px #ccc solid;
}

.tab {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    margin-bottom: -1px;
    color: #119C8D;
}
.tab.actual {
    border: 1px #ccc solid;
    border-bottom: 1px #fff solid !important;
    background-color: #fff;
    color: #555;
}
.tab:hover{
    color: #18BCAB;
}
.auth-form {
    padding-top: 30px;
    margin: 0 auto;
    display: block;
    float: none;
}

.auth-form h3 {
    margin: 15px 0 7px 0;
}

.auth-form input {
    padding: 5px 15px;
}

.auth-form input[type="submit"] {
    border: none;
    background: #18BCAB;
    color: #eee;
    padding: 15px;
    text-align: center;
}

.auth-form input[type="submit"]:hover {
    background: #119C8D;
    color: #fff;
}
.content-block {
    background: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: -1px;
}
.highlight a{
    color: white!important;
    background: red;
}

.search-highlight{
    color: red;
    text-decoration: underline;
}
