/* font sizes */

.article-content span.profireader_article_text_size_tiny {
    font-size: 6px;
}

.article-content span.profireader_article_text_size_little {
    font-size: 8px;
}

.article-content span.profireader_article_text_size_small {
    font-size: 10px;
}

.article-content span.profireader_article_text_size_normal {
    font-size: 12px;
}

.article-content span.profireader_article_text_size_big {
    font-size: 16px;
}

.article-content span.profireader_article_text_size_large {
    font-size: 24px;
}

.article-content span.profireader_article_text_size_huge {
    font-size: 32px;
}

.article-content img {
    margin: 6px 12px;
}

