
*[disabled] {
    color: #ccc;
}

/*#navigation_selected_division {*/
/*color: red;*/
/*}*/

/*.tag-in-article {*/
/*border: dashed #00264d 1px;*/
/*padding: 1px 3px;*/
/*background-color: yellow;*/
/*display: none;*/
/*}*/

.item:hover {
    /*background: rgba(255, 200, 200, 0.3);*/
}

.item > span.input_label {
    text-align: right;
    margin-right: 0.5em;
    display: inline-block;
    width: 170px;
    color: #777;
}

.item > span.error {
    color: #f00;
}

.item > span.warning {
    color: #F7C223;
}

.item select, .item button {
    margin: 3px;
    padding: 1px 3px;
    width: 300px;
    height: 2em;
}

.item select option {
    height: 2em;
    line-height: 27px;
}

.item button, .item input[type=button], .item input[type=submit] {
    margin: 3px;
    padding: 1px 3px;
    width: 150px;
    height: 2em;
}

.item input[type=submit] {
    font-weight: bold;
}

.link {
    cursor: pointer;
}

.text-align-right {
    text-align: right;
}

.item input[disabled], .item select[disabled], .item button[disabled] {
    color: #ccc;
}

/* class for tiny mce in profireader (editing article) */
.profi-tiny-mce-birdy {
    width: 697.5px;
}

.error {
    margin-left: 1em;
    padding-left: 0.2em;
    color: #f00;
}

.warning {
    margin-left: 1em;
    padding-left: 0.2em;
    color: #F7C223;
}

.notice {
    margin-left: 1em;
    padding-left: 0.2em;
    color: #2ecc40;
}

.ok {
    margin-left: 1em;
    padding-left: 0.2em;
    color: #2ecc40;
}

.nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.oh {
    overflow: hidden;
    text-overflow: ellipsis;
}

.notitledialog .ui-dialog-titlebar {
    display: none
}

.notitledialog .ui-dialog-content {
    overflow: hidden;
}

/*div[aria-label="Insert/edit video"] > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {*/
/*display: none*/
/*}*/

/*div[aria-label="Insert/edit video"] > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(3) {*/
/*display: none*/
/*}*/

/*div[aria-label="Insert/edit video"] > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(4) {*/
/*display: none*/
/*}*/

.glyphicon.glyphicon-question-sign {
    color: blue;
}

.material-details-article-preview {
    width: 727px;
    padding: 15px;
    height: 1000px;
    overflow: scroll;
}

/*TODO: RI by OZ: this class is for gray backdrop when dialog is opened (pls try open dialog 'publish' in  materials details page with and without this class. maybe obsolete with neww bootstrap) */
/*.modal-backdrop {*/
/*position: fixed;*/
/*height: 100%;*/
/*}*/

.disabled {
    -khtml-opacity: .30;
    -moz-opacity: .30;
    -ms-filter: (alpha(opacity=30));
    filter: alpha(opacity=30);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.3);
    opacity: .30;
}

.fr {
    float: right;
}

/*TODO: RI by OZ: this class for grid icons (see employees icons) */
.pr-grid-cell-field-type-icons-icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1.4em;

}


.pr-grid-cell-field-type-icons-icon-FILES_BROWSE:before {
    content: "\f06e";
    color: dodgerblue;
}
.pr-grid-cell-field-type-icons-icon-FILES_UPLOAD:before {
    content: "\f093";
    color: dodgerblue;
}

.pr-grid-cell-field-type-icons-icon-FILES_DELETE_OTHERS:before {
    content: "\f1f8";
    color: dodgerblue;
}

.pr-grid-cell-field-type-icons-icon-MATERIALS_SUBMIT_TO_PORTAL:before {
    content: "\f055";
    color: dodgerblue;
}

.pr-grid-cell-field-type-icons-icon-MATERIALS_EDIT_OTHERS:before {
    content: "\f044";
    color: dodgerblue;
}

.pr-grid-cell-field-type-icons-icon-PUBLICATION_PUBLISH_AT_OWN_PORTAL:before {
    content: "\f046";
    color: green;
}

.pr-grid-cell-field-type-icons-icon-PUBLICATION_UNPUBLISH_AT_OWN_PORTAL:before {
    content: "\f05e";
    color: green;
}

.pr-grid-cell-field-type-icons-icon-PUBLICATION_SET_PRIORITY:before {
    content: "\f091";
    color: green;
}

.pr-grid-cell-field-type-icons-icon-EMPLOYEE_CONFIRM_NEW:before {
    content: "\f234";
    color: dodgerblue;
}

.pr-grid-cell-field-type-icons-icon-EMPLOYEE_SUSPEND_UNSUSPEND:before {
    content: "\f235";
    color: dodgerblue;
}

.pr-grid-cell-field-type-icons-icon-COMPANY_REQUIRE_MEMBEREE_AT_PORTALS:before {
    content: "\f196";
    color: #790B79;
}

.pr-grid-cell-field-type-icons-icon-COMPANY_MANAGE_USER_RIGHTS:before {
    content: "\f0a1";
    color: #790B79;
}

.pr-grid-cell-field-type-icons-icon-COMPANY_EDIT_PROFILE:before {
    content: "\f14b";
    color: #790B79;
}

.pr-grid-cell-field-type-icons-icon-EDIT_PORTAL_PROFILE:before {
    content: "\f21b";
    color: green;
}

.pr-grid-cell-field-type-icons-icon-PORTAL_MANAGE_READERS:before {
    content: "\f02d";
    color: #FF4103;
}

.pr-grid-cell-field-type-icons-icon-PORTAL_MANAGE_COMMENTS:before {
    content: "\f086";
    color: #FF4103;
}

.pr-grid-cell-field-type-icons-icon-PORTAL_EDIT_PROFILE:before {
    content: "\f087";
    color: #FF4103;
}

.pr-grid-cell-field-type-icons-icon-PORTAL_MANAGE_MEMBERS_COMPANIES:before {
    content: "\f183";
    color: #FF4103;
}
.pr-grid-cell-field-type-icons-icon-MATERIAL_SUBMIT:before {
    content: "\f00c";
    color: dodgerblue;
}

.pr-grid-cell-field-type-icons-icon-PUBLICATION_EDIT:before {
    content: "\f044";
    color: dodgerblue;
}
.pr-grid-cell-field-type-icons-icon-PUBLICATION_UNPUBLISH:before {
    content: "\f05e";
    color: dodgerblue;
}
.pr-grid-cell-field-type-icons-icon-PUBLICATION_PUBLISH:before {
    content: "\f0a1";
    color: dodgerblue;
}


.pr-grid-cell-field-type-actions {
    padding: 2px;
}

.pr-grid-cell-field-type-actions-action {
    padding: 0px 2px;
    margin: 0px 2px;
    width: 5em;
    overflow: hidden;
}

.modal-filemanager-fullscreen {
    width: 95%;
    height: 95%;
}

.modal-filemanager-halfscreen {
    margin-top: 10%;
    width: 80%;
    height: 80%;
}

.modal-filemanager-fullscreen .modal-content {
    width: 100%;
    height: 100%;
}

.modal-filemanager-halfscreen .modal-content {
    width: 100%;
    height: 100%;
}

.company-logo {
    width: 16%;
}

.subscribe-portal-logo {
    width: 200px;
    height: 150px;
}

.pr-grid-cell-img-prefix {
    height: 100%;
    width: 50px;
    margin-right: 2px;
}


.p4px {
    padding: 4px;
}

.highlightedText {
    background: yellow;
}