/* ---In All syte--- */
body {
  padding-top: 100px;
}
.widewrapper {
  min-height: 80vh;
}
.bg-index {
  background-image: url("../images/auth6.jpg");
  background-size: cover;
  min-height: 50vh;
  margin-top: -100px;
}
.bg-index h2 {
  color: #18BC9C;
  text-align: center;
  margin-bottom: 25px;
}
.bg-index small {
  color: #fff;
}
.index-profireader {
  margin-top: 150px;
}
.index-about {
  margin: 50px 0px 50px 0px;
}
.index-links {
  background-color: #424242;
  padding: 0px 35px 35px 35px;
  border-radius: 10px;
  margin-right: 15px;
  margin-left: 15px;
  min-height: 392px;
}
.index-links a {
  padding: 5px 15px 5px 15px;
  border-radius: 3px;
  text-align: center;
}
.index-links span {
  display: inherit;
  text-align: center;
}
.index-links i {
  border-radius: 50px;
  background-color: #424242;
  padding: 15px;
  color: #fff;
  margin-top: -15px;
}
.index-links h3 {
  text-align: center;
  color: #18bc9c;
  margin-bottom: 15px;
  margin-top: 15px;
}
.index-links p {
  margin-top: 15px;
  color: #FFFFFF;
  font-weight: 200;
  font-size: 16px;
}
.index-links:hover {
  box-shadow: 7px 7px 2px #18bc9c;
  transition: all 0.2s ease-out;
  margin-top: -5px;
}
.border-radius {
  border-radius: 3px;
}
/* ---footer--- */
.footer-layout {
  background-color: #212121;
  color: #fff;
  font-weight: 200;
  margin-top: 50px;
}
.menu-company a {
  color: #333;
  padding-right: 15px;
  padding-left: 15px;
}
.menu-company a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #18BCA2;
  transition: all 0.2s ease-out;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.menu-company .selected {
  color: #fff;
  text-decoration: none;
  background-color: #18BCA2;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.about-company a {
  color: #333;
}
.about-company a:hover {
  text-decoration: none;
  color: #333;
}
.company-portal a {
  color: #525252;
  float: right;
  margin-left: 15px;
  border-bottom: 1px solid #fff;
  margin-top: 15px;
  margin-bottom: 15px;
}
.company-portal a:hover {
  color: #18BC9C;
  text-decoration: none;
  border-bottom: 1px solid;
  transition: all 0.2s ease-out;
}
.company-logo img {
  margin-right: -15px;
}
/* ---Global menu--- */
.menu-profile a {
  text-decoration: none;
}
.menu-profile .login-profile {
  background-color: #c62828;
  padding: 7px 15px;
  border-radius: 3px;
  margin-top: 2px;
  margin-right: -5px;
  margin-left: 10px;
}
.menu-site a {
  color: #fff;
}
.menu-site a:hover {
  transition: all 0.2s ease-out;
}
.menu-site ul {
  float: right;
  margin-right: -25px;
}
.hamburger-menu span {
  background-color: #fff;
}
.menu-company-inside {
  border-bottom: 1px solid #101010;
}
/*---Company ID---*/
.about-company a {
  color: #333;
}
.about-company a:hover {
  text-decoration: none;
  color: #333;
}
.company-portal a {
  color: #525252;
  float: right;
  margin-left: 15px;
  border-bottom: 1px solid #fff;
}
.company-portal a:hover {
  color: #18BC9C;
  text-decoration: none;
  border-bottom: 1px solid;
  transition: all 0.2s ease-out;
}
.company-logo img {
  margin-right: -15px;
}
/* ---AUTH User---*/
.auth-input input {
  width: 100%;
}
.auth-window {
  background-image: url("../images/auth.jpg");
  background-size: cover;
  min-height: 100vh;
}
/* ---New company--- */
.create-new-company {
  margin-bottom: 30px;
}
.create-new-company button {
  width: 40%;
  margin-top: 13px;
}
/* ---Company--- */
.join-company {
  margin-top: 30px;
}
.join-company h3 {
  margin-top: 5px;
  color: #383838;
}
.search-company input {
  border-radius: 0px;
  border-color: #383838;
}
.search-company input:focus,
.search-company input:active {
  border-color: #18BCA2;
}
.search-company button {
  border-radius: 3px;
  background-color: #CA2027;
  border-color: #CA2027;
}
.search-company button:hover {
  border-radius: 3px;
  background-color: #CA2027;
  border-color: #CA2027;
}
.search-company button:focus {
  color: #fff;
  background-color: #C70000;
  border-color: #C70000;
}
.create-company button {
  border-radius: 3px;
  background-color: #24DC54;
  border-color: #24DC54;
  margin-bottom: 30px;
  float: right;
}
.create-company button:hover {
  border-radius: 3px;
  background-color: #24DC54;
  border-color: #24DC54;
  margin-bottom: 30px;
  float: right;
}
.create-company button:focus {
  background-color: #04A52E;
  border-color: #04A52E;
}
.search-result {
  margin-top: 30px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #f5f5f5;
}
.photo-search a {
  border-radius: 3px;
  margin-top: 15px;
}
.join-new-company button {
  width: 100%;
  margin-top: 30px;
  background-color: #18BCAB;
  border-color: #18BCAB;
  border-radius: 3px;
}
.join-new-company button:hover {
  width: 100%;
  margin-top: 30px;
  background-color: #18BCAB;
  border-color: #18BCAB;
  border-radius: 3px;
}
.join-new-company button:focus,
.join-new-company button:active {
  background-color: #119C8D;
  border-color: #119C8D;
}
.not-found h3 {
  text-align: center;
  color: #7B7B7B;
}
.list-form {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #f5f5f5;
  margin-top: 10px;
  margin-bottom: 50px;
}
.company-list {
  margin-top: 30px;
}
.company-list h2 {
  color: #383838;
  margin-bottom: 15px;
}
.company-list h4 {
  text-align: center;
  color: #CA2027;
}
.company-thumbnail {
  border-radius: 3px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #f5f5f5;
}
.company-thumbnail button {
  padding: 5px;
  background-color: #18BCAB;
  border-color: #18BCAB;
  border-radius: 3px;
  width: 100%;
  margin-bottom: -15px;
  margin-top: -15px;
}
.company-thumbnail button:focus,
.company-thumbnail button:active,
.company-thumbnail button:hover {
  background-color: #119C8D;
  border-color: #119C8D;
}
.some-company-info h3 {
  text-align: center;
  margin-top: -25px;
}
.some-company-info a {
  color: #18BCAB;
  text-decoration: none;
}
.company .edit-company button {
  width: 115px;
  padding: 0;
  margin-left: 25px;
  margin-right: -15px;
}
.company h3 {
  color: #e64a19;
}
.edit-profile {
  background-color: #CA2027;
  color: #fff;
  border-color: #CA2027;
  margin-right: 15px;
}
.edit-profile:hover,
.edit-profile:focus,
.edit-profile:active {
  background-color: #C70000;
  border-color: #C70000;
  color: #fff;
}
.save-profile {
  background-color: #24DC54;
  color: #fff;
  border-color: #24DC54;
  margin-right: 30px;
}
.save-profile:hover,
.save-profile:focus,
.save-profile:active {
  background-color: #04A52E;
  border-color: #04A52E;
  color: #fff;
}
.go-portal {
  background-color: #18BCAB;
  color: #fff;
  border-color: #18BCAB;
}
.go-portal:hover,
.go-portal:focus,
.go-portal:active {
  background-color: #119C8D;
  border-color: #119C8D;
  color: #fff;
}
.edit-data {
  margin-bottom: 15px;
}
.edit-block {
  margin-top: 15px;
  margin-bottom: 30px;
  color: #212121;
}
.edit-block li {
  list-style-type: none;
}
.about-company-text h3 {
  color: #212121;
}
.about-company-text p {
  color: #555;
}
.image-company-profile img {
  width: 100%;
  height: 271px;
}
/* ---Reader-list--- */
.reader-list-nav {
  border-bottom: 1px solid #212121;
  padding-bottom: 8px;
}
.reader-list-nav li {
  display: inline;
}
.reader-list-nav ul {
  list-style: none;
  padding-left: 0;
}
.reader-content {
  margin-top: 30px;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #f5f5f5;
}
.reader-content .label {
  background-color: #00e676;
}
.reader-content .label a {
  color: #fff;
}
.reader-content .item-title a {
  color: #212121;
  text-decoration: none;
}
.reader-content .item-publication-date {
  color: #bdbdbd;
}
.reader-content .item-read_count {
  color: #bdbdbd;
}
.reader-content .item-short-content {
  color: #212121;
}
/* ---MEDIA--- */
@media screen and (max-width: 764px) {
  .menu-site ul {
    float: none;
    margin-right: 0;
  }
  body {
    padding-top: 150px;
  }
  .company-portal a {
    float: none;
  }
}
@media screen and (max-width: 991px) {
  .company-logo {
    margin-top: 15px;
    text-align: right;
  }
  .company-logo img {
    margin-right: 0;
  }
  .company-portal {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 15px;
  }
  .edit-company button {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */