{% if pages is defined %}
    {% if pages > 1 %}
        <div class="container">
            <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-7">
                <ul class="pager">
                    <li class="previous">
                        {% if current_page != 1 %}
                            <a href="{{ url_page(page=current_page - 1, search_text=search_text, favorite=favorite) }}"><i
                                    class="fa fa-arrow-circle-left"></i>
                            </a>
                        {% else %}
                        {% endif %}
                    </li>
                    {% for button in range(page_buttons)|reverse %}
                        {% if current_page - (button + 1)> 0 %}
                            <li>
                                <a href="{{ url_page(page=current_page - (button + 1), search_text=search_text, favorite=favorite) }}">{{ current_page - (button + 1) }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li class="current-page">
                        <a href="{{ url_page(page=current_page, search_text=search_text, favorite=favorite) }}">{{ current_page }}</a>
                    </li>
                    {% for button in range(page_buttons) %}
                        {% if current_page + (button + 1)< pages %}
                            <li>
                                <a href="{{ url_page(page=current_page + (button + 1), search_text=search_text, favorite=favorite) }}">{{ current_page + (button + 1) }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if current_page + page_buttons < pages %}
                        <li>
                            ...
                        </li>
                    {% endif %}
                    {% if current_page != pages %}
                        <li>
                            <a href="{{ url_page(page=pages, search_text=search_text, favorite=favorite) }}">{{ pages }}</a>
                        </li>
                    {% endif %}

                    <li class="next">
                        {% if current_page != pages %}

                            <a href="{{ url_page(page=current_page + 1, search_text=search_text, favorite=favorite) }}"><i
                                    class="fa fa-arrow-circle-right"></i></a>

                        {% else %}
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endif %}
