{% extends "index_layout.html" %}
{% block title %}Profireader{% endblock title %}
{% block head %}
    {{ super() }}
    {% include 'partials/empty_page.html' %}
{% endblock head %}

{% block portal_base %}
    {% include 'partials/portal_base_Profireader.html' %}
{% endblock portal_base %}

{% block portal_content %}
           {{ _('Please, subscribe to any portal') }}
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: #4f4a4a">{{ _('Select portal') }}
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
      {% for portal in portals %}
    <li><a href="{{ url_for('general.reader_subscribe', portal_id=portal[0]) }}">{{ portal[1] }}</a></li>
          {% endfor %}
  </ul>
</div>
          {% for portal in portals %}
   <h2>{{ portal[1] }}<a href="{{ url_for('general.reader_subscribe', portal_id=portal[0]) }}"> - Subscribe</a></h2>
          {% endfor %}
    {{ __('Presentation text') }}
{% endblock portal_content %}