{% extends "index_lazy_layout.html" %}

{% block title %}{{ _('Portal list') }}{% endblock title %}

{% block head %}
    {{ super() }}
    {% include 'partials/empty_page.html' %}
{% endblock head %}

{% block portal_content %}
    <script>
        module.controller('portals_list', function ($scope, $ok) {
            $scope.$$translate = {{ translates('portals_list')|safe }};
            $scope.search_text = '';
            $scope.loading = false;
            $scope.dirty = true;
            $scope.data = [];

            $scope.subscribe = function (portal_id) {
                {% if g.user_id %}
                    $ok('{{ url_for('reader.reader_subscribe_registered')|safe }}', {portal_id: portal_id}, function (resp) {
                        if (resp) {
                            _.map($scope.data, function (portal) {
                                if (portal['id'] === portal_id) {
                                    portal['subscribed'] = true;
                                }
                            })
                        }
                    });
                {% else %}
                    window.location.href = {{ raw_url_for('reader.reader_subscribe')|safe }}({portal_id: portal_id});
                {% endif %}
            };

            $scope.search_for_portal = function () {
                if ($scope.loading) {
                    $scope.dirty = true;
                    return false;
                }
                $scope.loading = true;
                $scope.data = [];
                $scope.dirty = false;
                $ok('', {text: $scope.search_text}, function (resp) {
                    $scope.loading = false;
                    if ($scope.dirty) {
                        $scope.search_for_portal();
                    }
                    else {
                        $scope.data = resp;

                    }

                }).finally(function () {
                    $scope.loading = false;
                });
            }
        });

    </script>

    {% raw %}
    <div ng-controller="portals_list" ng-init="search_for_portal()">
        <h2>{{ _('Please, subscribe to any portal') }}</h2>
        </br>
        {{ _('Search') }} <input ng-model="search_text" ng-change="search_for_portal()" id="portal_search" type="text">
        <table>{{ data }}
            <tr ng-repeat="portal in data">

                <td class="p4px">
                    <img class="subscribe-portal-logo" pr-image="portal.logo_file_id"/>
                </td>
                <td class="p4px">
                    <span ng-bind-html="highlight(portal.name, search_text)"></span><br/>
                    <span ng-bind-html="highlight(portal.host, search_text)"></span>
                </td>
                <td class="p4px">
                    <button ng-disabled="portal.subscribed" class="btn" ng-click="subscribe(portal.id)">{{
                        _('Subscribe') }}
                    </button>
                </td>

            </tr>

        </table>
        <div ng-if="loading">
            {{ _('Loading...') }}
        </div>
    </div>
    {% endraw %}
{% endblock portal_content %}
