{% extends "index_lazy_layout.html" %}
{% block title %}Profireader - {{ current_user.profireader_name }}{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block portal_base %}
    {% include 'partials/portal_base_Profireader_auth_user.html' %}
{% endblock portal_base %}
<!--<div ng-controller="UserLoginController" >-->
<!--<h1 class="nice-title">{{ '{{' }}_('User Profile'){{ '}}' }}<span></span></h1>-->
<!--<a class="h1-btn icon icon-edit" href="{{ url_for('user.edit_profile', user_id=user.id) }}"  title="{{ _('EDIT PROFFILE') }}"><img src="//static.profireader.com/static/front/img/ico/user.png" /></a>-->
<!--</div>-->
<!--<div ng-controller="UserLoginController" class="user-profile">-->
<!--<h2>{{ user.profireader_name }}</h2>-->
<!--<div class="info">-->
<!--{#        <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}"><br>#}-->
<!--{#        <img class="img-rounded profile-thumbnail" src="{{ user.profireader_avatar_url }}" style="width:{{ avatar_size }}px;height:{{ avatar_size }}px;border:0"><br>#}-->
<!--<div class="profile-thumbnail" style="background-image: url('{{ user.profireader_avatar_url }}')"></div>-->
<!--<div class="item"><span>{{ '{{' }}_('Your email'){{ '}}' }}:</span> {{ user.profireader_email }}</div>-->
<!--<div class="item"><span>{{ '{{' }}_('Your display name'){{ '}}' }}:</span> {{ user.profireader_name }}</div>-->
<!--<div class="item"><span>{{ '{{' }}_('Your first name'){{ '}}' }}:</span> {{ user.profireader_first_name or ''}}</div>-->
<!--<div class="item"><span>{{ '{{' }}_('Your last name'){{ '}}' }}:</span> {{ user.profireader_last_name or ''}}</div>-->
<!--<div class="item"><span></span> {{ user.profireader_gender or ''}}:</div>-->
<!--<div class="item"><span>{{ '{{' }}_('Your web-page'){{ '}}' }}:</span> {{ user.profireader_link or ''}}</div>-->
<!--<div class="item"><span>{{ '{{' }}_('Phone'){{ '}}' }}:</span>  {{ user.profireader_phone.national or ''}}</div>-->
<!--<div class="item"><span>{{ '{{' }}_('Your location'){{ '}}' }}:</span> {{ user.location or ''}}</div>-->
<!--<div class="item"><span>{{ '{{' }}_('About'){{ '}}' }}:</span> {{ user.about_me or ''}}</div>-->
<!--{#        <p>{{ '{{' }}_('Member since'){{ '}}' }} {{ '{{' }} user.registered_tm {{ '}}' }}.</p>#}-->
<!--<div class="item"><span>{{ '{{' }}_('Member since'){{ '}}' }}</span>{{ moment(user.registered_tm).format('L') }}.</div>-->

{% block portal_content %}

    <div class="container" ng-controller="UserLoginController">
        <div class="row link-page"><h5>User profile</h5>
            <a title="edit" pr_test="EditProfile" href="{{ url_for('user.edit_profile', user_id=user.id) }}">
                <i class="fa fa-pencil fa-2x"></i>
            </a>
        </div>
        <div class="row" ng-controller="UserLoginController">
            <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12 ">
                <div class="thumbnail profile-window">
                    <img src="{{ user.profireader_small_avatar_url }}" class="img-circle" style="width: 50%;">
                    <div class="caption">
                        <h3>{{ user.profireader_name }}</h3>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 line-user-info">Email:</div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">{{ user.profireader_email }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 line-user-info">Display name:</div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">{{ user.profireader_name }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 line-user-info">First name:</div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">{{ user.profireader_first_name or '' }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 line-user-info">Last name:</div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">{{ user.profireader_last_name or '' }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 line-user-info">Gender:</div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">{{ user.profireader_gender or '' }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 line-user-info">Web-page:</div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9"><span>{{ user.profireader_link or '' }}</span></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 line-user-info">Phone:</div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">{{ user.profireader_phone.national or '' }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 line-user-info">Location:</div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">{{ user.location or '' }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 line-user-info">About:</div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">{{ user.about_me or '' }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 line-user-info">Member since:</div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">{{ moment(user.registered_tm).format('L') }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<!--

    <div ng-controller="UserLoginController">
        <h1 class="nice-title">{{ '{{' }}_('User Profile'){{ '}}' }}<span></span></h1>
        <a pr_test="EditProfile" class="h1-btn" href="{{ url_for('user.edit_profile', user_id=user.id) }}">{{ '{{' }}_('Edit
            profile'){{ '}}' }}</a>
    </div>

    <div class="form info" style="padding-left: 10px" ng-controller="UserLoginController">
        <div ng-controller="UserLoginController" class="user-profile">
            <h2>{{ user.profireader_name }}</h2>
            <div class="info">
                {#        <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}"><br>#}
                {#        <img class="img-rounded profile-thumbnail" src="{{ user.profireader_avatar_url }}" style="width:{{ avatar_size }}px;height:{{ avatar_size }}px;border:0"><br>#}
                <div class="profile-thumbnail"
                     style="background-image: url('{{ user.profireader_small_avatar_url }}')"></div>

                <div class="item"><span>{{ '{{' }}_('Your email'){{ '}}' }}:</span> {{ user.profireader_email }}</div>
                <div class="item"><span>{{ '{{' }}_('Your display name'){{ '}}' }}:</span> {{ user.profireader_name }}
                </div>
                <div class="item">
                    <span>{{ '{{' }}_('Your first name'){{ '}}' }}:</span> {{ user.profireader_first_name or '' }}</div>
                <div class="item">
                    <span>{{ '{{' }}_('Your last name'){{ '}}' }}:</span> {{ user.profireader_last_name or '' }}</div>
                <div class="item"><span>{{ '{{' }}_('Gender'){{ '}}' }}:</span> {{ user.profireader_gender or '' }}
                </div>
                <div class="item"><span>{{ '{{' }}_('Your web-page'){{ '}}' }}:</span> {{ user.profireader_link or '' }}
                </div>
                <div class="item">
                    <span>{{ '{{' }}_('Phone'){{ '}}' }}:</span> {{ user.profireader_phone.national or '' }}</div>
                <div class="item"><span>{{ '{{' }}_('Your location'){{ '}}' }}:</span> {{ user.location or '' }}</div>
                <div class="item"><span>{{ '{{' }}_('About'){{ '}}' }}:</span> {{ user.about_me or '' }}</div>
                {#        <p>{{ '{{' }}_('Member since'){{ '}}' }} {{ '{{' }} user.registered_tm {{ '}}' }}.</p>#}
                <div class="item">
                    <span>{{ '{{' }}_('Member since'){{ '}}' }}:</span>{{ moment(user.registered_tm).format('L') }}.
                </div>
            </div>
        </div>
    </div>
-->
{% endblock portal_content %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
