{#TODO: SS by OZ: add {% raw and remove this all stupid {{ '{{' }} %}#}
<script>
    module.controller('CompanyMenuController', ['$scope', '$timeout', function ($scope, $timeout) {
        $scope.user = {{ g.user_dict|tojson|safe }};
        $scope.company = {{ company.get_client_side_dict()|tojson|safe }};

        $scope.$$translate = {{ translates('CompanyMenuController')|safe }};

        $scope.url_company_profile = {{ raw_url_for('company.profile')|safe }};
        $scope.url_company_materials = {{ raw_url_for('company.materials')|safe }};
        $scope.url_portal_companies_partners = {{ raw_url_for('portal.companies_partners')|safe }};
        $scope.url_company_employees = {{ raw_url_for('company.employees')|safe }};
        $scope.url_portal_publications = {{ raw_url_for('portal.publications')|safe }};
        $scope.url_company_readers = {{ raw_url_for('company.readers')|safe }};
        $scope.url_portal_portals_partners = {{ raw_url_for('portal.portals_partners')|safe }};

        $scope.selected_company_menu = '';
        $scope.set_selected_company_menu = function (menu_item) {
            $timeout(function () {
                $scope.selected_company_menu = menu_item;
            }, 0);
        };
    }]);
</script>
{% raw %}
<div ng-controller="CompanyMenuController" class="topbar-menu-links">
    <div ng-cloak ng-show="user.id">
        <div class="container">
        <div class="row menu-company-inside">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 menu-company">
                <a ng-class="{'selected': selected_company_menu == 'materials'}"
                   href="{{ url_company_materials({company_id: company.id}) }}">{{ _('Materials') }}</a>
                <a ng-class="{'selected': selected_company_menu == 'portals_partners'}" id="companies_partners"
                   href="{{ url_portal_companies_partners({company_id: company.id}) }}">{{ _('Membership') }}</a>
                <a ng-class="{'selected': selected_company_menu == 'companies_employees'}"
                   href="{{ url_company_employees({company_id: company.id}) }}">{{ _('Employees') }}</a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 about-company">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <a class="pull-right" ng-class="{'selected': selected_company_menu == 'home'}"
                   href="{{ url_company_profile({company_id: company.id}) }}">{{ company.name }}</a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 company-logo">
                    <a  href="{{ url_company_profile({company_id: company.id}) }}">
                        <img pr-image="company.logo_file_id " style="height: 60px; margin-top: -20px;"/>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 company-portal">
                <a ng-if="company.own_portal" ng-class="{'selected': selected_company_menu == 'publications'}" id="publications"
                   href="{{ url_portal_publications({company_id: company.id}) }}">{{ _('Publications') }}</a>
                <a ng-if="company.own_portal" ng-class="{'selected': selected_company_menu == 'comments'}" id="comments"
                   href="#">{{ _('Comments') }}</a>
                <a ng-if="company.own_portal" ng-class="{'selected': selected_company_menu == 'companies_readers'}" id="companies_readers"
                   href="{{ url_company_readers({company_id: company.id}) }}">{{ _('Readers') }}</a>
                <a ng-if="company.own_portal" ng-class="{'selected': selected_company_menu == 'companies_partners'}"
                   href="{{ url_portal_portals_partners({company_id: company.id}) }}">{{ _('Members') }}</a>
                <a ng-if="company.own_portal" ng-class="{'selected': selected_company_menu == 'statistics'}" id="statistics"
                   href="#">{{ _('Statistics') }}</a>
                <a ng-if="company.own_portal" ng-class="{'selected': selected_company_menu == 'portal_profile'}" id="portal_profile"
                   href="#">{{ _('Portal profile') }}</a>
            </div>
        </div>


    </div>

    </div>
</div>
{% endraw %}

