{% extends "index_lazy_layout.html" %}

{% block title %}Employment update{% endblock title %}

{% block portal_content %}

    {% block company_base %}
        {% include 'company/company_base_angular.html' %}
    {% endblock company_base %}

    <script>
        module.controller('company_employee_update', function ($scope, $ok) {
            angularControllerFunction('CompanyMenuController', 'set_selected_company_menu')('companies_employees');

            $scope.url_company_employee_list = {{ raw_url_for('company.employees')|safe }};
            $scope.user_right = {{ user_right_in|safe }};
            $scope.after_save = function () {
                window.location.href = $scope.url_company_employee_list({
                    'company_id': $scope.data.employer.id
{#                    'user_id': $scope.data.employee.id#}
                });
            };


        });
    </script>
    {% raw %}

    <div ng-controller="company_employee_update">
        <div style="text-align: center" ng-if="!user_right"><h2>Sorry!!!You haven't got  appropriate rights!</h2></div>
        <div af af-after-save="after_save" af-watch="data.employment" ng-model="data" pr-user-rights="user_right">
            <h2>
                <img class="person-small-cover" pr-image
                     pr-no-image="{{ data.employee.profireader_small_avatar_url }}"/>
                <img class="logo-small-cover" pr-image="data.employer.logo_file_id"/>
                {{ _('Employee `%(data.employee.profireader_name)s` at company `%(data.employer.name)s`') }}</h2>

            <img pr-image="employer.logo_file_id"/>
            {{ data.employment.status }}
            {{ _('status') }} <select id="select-status" ng-model="data.employment.status"
                                      ng-options="status as status disable when !available for (status, available) in data.statuses_available"></select><br>
            {{ _('position') }} <input ng-model="data.employment.position"/><br>
            {{ _('permissions') }}<br>
            <div ng-class="{disabled: !permitted}" ng-repeat="(right_name, permitted) in data.employment.rights">
                <img src="//static.profireader.com/static/images/0.gif"
                     class="pr-grid-cell-field-type-icons-icon pr-grid-cell-field-type-icons-icon-{{ right_name }}"/>
                <label>
                    <i class="pr-grid-cell-field-type-icons-icon pr-grid-cell-field-type-icons-icon-{{ right_name }}"></i>
                    <input ng-model="data.employment.rights[right_name]" type="checkbox"/> {{ right_name }}</label>
            </div>
            <button class="btn fr" type="button" ng-disabled="!$af.isActionAllowed(data, 'save')"
                    ng-click="$af.save(data)">{{ _('Save') }}
            </button>
            <button class="btn fr" type="button" ng-click="$af.reset(data)">{{ _('Reset') }}</button>

        </div>
    </div>

    {% endraw %}

{% endblock portal_content %}
