{% extends "index_lazy_layout.html" %}

{% block portal_content %}

    {% block company_base %}
        {% include 'company/company_base_angular.html' %}
    {% endblock company_base %}

    <script>
        module.controller('company_employees_controller', function ($scope, $ok) {
            angularControllerFunction('CompanyMenuController', 'set_selected_company_menu')('employees');

            $scope.$$translate = {{ translates('company_employees_controller')|safe }};

            $scope.data = null;
            $scope.company = null;

            $scope.loadData = function (data , setdatafuctions) {
                $scope.loading = true;
                $ok('', data, setdatafuctions);
            }

            $scope.gridOptions1 = $.extend({}, $scope.gridOptions, {
                loadGridData: $scope.loadData,
                columnDefs: [
                    {name: 'id', displayName: 'id', width: '53%', filter: {type: 'input'}},
                        {name: 'id', displayName: 'id', width: '13%', filter: {type: 'input'}},
                        {name: 'id', displayName: 'id', width: '13%', filter: {type: 'input'}}
                ]
            });


        });
    </script>

    <div ng-controller="company_employees_controller">
        {% raw %}
            <h2>{{ _('Employees at company `%(company.name)s`') }}</h2>
            <div class="grid" id="grid1" ui-grid-edit ui-grid="gridOptions1"></div>
        {% endraw %}
    </div>

{% endblock portal_content %}