{% extends "_ruslan/_index_layout.html" %}
{% block title %}Profireader{% endblock title %}
{% block head %}
    {{ super() }}
    {% include '_ruslan/partials/_header_files_articles.html' %}
{% endblock head %}

{% block portal_base %}
    {% include 'partials/portal_base_Profireader_auth_user.html' %}
{% endblock portal_base %}


{% block portal_content %}
    {% from 'macros.html' import scripts %}
    {{ scripts(names=['croper']) }}
    <script>
        module.controller('company_create', ['$scope', function ($scope) {

            $scope.url_back = {{ raw_url_for('company.show')|safe }};
            $scope.data = {};

            $scope.cancel = function () {
                window.location.href = $scope.url_back();
                return false;
            };
            $scope.getData = function () {

                return $scope.data;
            };
            $scope.$$translate = {{ translates('company_create')|safe }};

            $scope.afterSave = function (resp, deff) {
                if (resp && !$scope.data.id) {
                    window.location.href = '{{ url_for('company.show') |safe }}';
                }
                deff(resp);
            };

            $scope.afterLoad = function (resp, deff) {
                deff(resp);
                $scope.logo_file_url = fileUrl(resp['logo_file_id']);
            };


        }])
    </script>
    {% raw %}
    <div ng-controller="company_create">
        <div class="container list-form" af
             af-after-save="afterSave"
             af-after-load="afterLoad"
             ng-model="data">
            <div class="row company">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><h3>Create a new company</h3></div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 create-new-company">

                    <button class="btn btn-default save-profile pull-right border-radius" type="button"
                            ng-click="$af.save(data)" ng-disabled="!$af.isActionAllowed(data, 'save') ">{{ _('Save new
                        profile') }}
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 image-company-profile create-img">
                    <div style="width: 400px;">
                        <div ng-model="data.image" pr-cropper="cropper"></div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 edit-company">
                    <div class="edit-block col-lg-12">
                        <div class="col-lg-2">Name:</div>
                        <div class="col-lg-10 edit-data">
                            <input type="text" class="form-control border-radius" id="basic-url"
                                   aria-describedby="basic-addon3" ng-model="data.name">
                        </div>
                        <div class="col-lg-2">Country:</div>
                        <div class="col-lg-10 edit-data">
                            <input type="text" class="form-control border-radius" id="basic-url"
                                   aria-describedby="basic-addon3" ng-model="data.country">
                        </div>
                        <div class="col-lg-2">Region:</div>
                        <div class="col-lg-10 edit-data">
                            <input type="text" class="form-control border-radius" id="basic-url"
                                   aria-describedby="basic-addon3" ng-model="data.region">
                        </div>
                        <div class="col-lg-2">Address:</div>
                        <div class="col-lg-10 edit-data">
                            <input
                                    pr-validation-answer="data_validation:address"
                                    type="text" class="form-control border-radius" id="basic-url"
                                   aria-describedby="basic-addon3" ng-model="data.address">
                        </div>
                        <div class="col-lg-2">Phone:</div>
                        <div class="col-lg-10 edit-data">
                            <input
                                    type="text" class="form-control border-radius" id="basic-url"
                                   aria-describedby="basic-addon3" ng-model="data.phone">
                        </div>
                        <div class="col-lg-2">Fax:</div>
                        <div class="col-lg-10 edit-data">
                            <input type="text" class="form-control border-radius" id="basic-url"
                                   aria-describedby="basic-addon3" ng-model="data.phone2">
                        </div>
                        <div class="col-lg-2">Email:</div>
                        <div class="col-lg-10 edit-data">
                            <input type=text class="form-control border-radius" id="basic-url"
                                   aria-describedby="basic-addon3" ng-model="data.email">
                        </div>
                        <div class="col-lg-3">Lang and long:</div>
                        <div class="col-lg-4 edit-data">
                            <input type="text" class="form-control border-radius" id="basic-url"
                                   aria-describedby="basic-addon3" ng-model="data.lat">
                        </div>
                        <div class="col-lg-4 edit-data">
                            <input type="text" class="form-control border-radius" id="basic-url"
                                   aria-describedby="basic-addon3" ng-model="data.lon">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h3>Short description:</h3>
                <textarea ui-tinymce="tinymceImageOptions" ng-model="data.short_description"></textarea>
                <h3>About company:</h3>
                <textarea ui-tinymce="tinymceImageOptions" ng-model="data.about"></textarea>
            </div>
        </div>


       <!-- <div af
             af-after-save="afterSave"
             af-after-load="afterLoad"
             ng-model="data">

            <h1 class="nice-title">{{ data.id ? _('Edit company profile') : _('New company Account') }}<span></span></h1>

            <div class="update_col1" style="width: 400px;">
                {{ _('Select picture') }}
                <div ng-model="data.image" pr-cropper="cropper" pr-company-id="{{ company_id }}"></div>
            </div>



            <div style="width: 500px; margin-left: 450px; height: 250px">
                <div class="item"><span class="input_label">{{_('Company name')}}</span><input ng-model="data.name">
                </div>
                <div class="item"><span class="input_label">{{_('Country')}}</span><input type="text"
                                                                                          ng-model="data.country"></div>
                <div class="item"><span class="input_label">{{_('Region')}}</span><input type="text"
                                                                                         ng-model="data.region"></div>
                <div class="item"><span class="input_label">{{_('Adress')}}</span><input type="text"
                                                                                         ng-model="data.address"></div>
                <div class="item"><span class="input_label">{{_('Phone')}}</span><input type="text"
                                                                                        ng-model="data.phone"></div>
                <div class="item"><span class="input_label">{{_('Fax')}}</span><input type="text"
                                                                                      ng-model="data.phone2">
                </div>
                <div class="item"><span class="input_label">{{_('Email')}}</span><input type="text"
                                                                                        ng-model="data.email"></div>
                <div class="item"><span class="input_label">{{_('Lattitude and longitude')}}</span><input type="text" style="width: 6em"
                                                                                        ng-model="data.lat">, <input style="width: 6em" type="text"
                                                                                        ng-model="data.lon"></div>
            </div>

            <div style="width: 1000px; margin-left: 0px;">
                {{_('Short description')}}
                <textarea ui-tinymce="tinymceImageOptions" placeholder=""
                          ng-model="data.short_description"></textarea><br/>
            </div>

            <div style="width: 1000px; margin-left: 0px;">
                {{_('About company')}}
                <textarea ui-tinymce="tinymceImageOptions" placeholder=""
                          ng-model="data.about"></textarea><br/>
            </div>

            <input ng-click="$af.save(data)"
                   ng-disabled="!$af.isActionAllowed(data, 'save')"
                   type="submit"
                   value="{{ data.id ? _('save') : _('create') }}"/>
        </div> -->
    </div>


    {% endraw %}
{% endblock portal_content %}

{% block footer %}
    {% include 'partials/portal_footer_Profireader.html' %}
{% endblock footer %}