{% extends "index_layout.html" %}
{% block title %}Profireader Portal - Readers{% endblock title %}

{% block styles %}
    {{ super() }}
    <style>
table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #af9f86;
{#    color: white;#}
    color: #8d4747;
}

tr:nth-child(even) {background-color: #f2f2f2}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
</style>
{% endblock styles %}

{% block portal_base %}
    {% include 'partials/portal_base_Profireader_auth_user.html' %}
{% endblock portal_base %}
{% block portal_content %}
    {% block company_base %}
        {% include 'company/company_base_angular.html' %}
    {% endblock company_base %}
<script>
    module.controller('CompanyReaders', ['$scope','$ok', function ($scope, $ok) {
        angularControllerFunction('CompanyMenuController', 'set_selected_company_menu')('companies_readers');
        $scope.$$translate = {{ translates('CompanyReaders')|safe }};
        $scope.own_company_id = '{{ company.id }}';
        $scope.get_readers = {{ raw_url_for('company.readers_load')|safe }};

        {% raw %}
        $scope.sendData = function (data, setdatafuctions) {
                $scope.loading = true;
                $ok($scope.get_readers({company_id: $scope.own_company_id}), data, setdatafuctions).finally(function () {
                    $scope.loading = false;
                    $scope.load_contr = true;
                });
            };


        $scope.gridOptions1 = $.extend({}, $scope.gridOptions, {
             loadGridData: $scope.sendData,
             onRegisterApi: function (gridApi) {
                 $scope.setGridExtarnals(gridApi)
             },
             columnDefs: [
                 { name: 'profireader_first_name', enableSorting: false,enableCellEdit: false, enableColumnMenu: false, displayName: 'First Name', width: '35%',
                     filter: {type:'input'}
                 },
                 { name: 'id',enableCellEdit: false, displayName: 'Id', filter: {type:'input'}},
                 { name: 'profireader_email', enableSorting: false,enableCellEdit: false, enableColumnMenu: false, displayName: 'Email',
                     filter: {type:'input'}
                 },
                 { name: 'profireader_name', enableSorting: false,displayName: 'Nickname', enableCellEdit: false, enableColumnMenu: false,
                     filter: {type:'input'}
                 },
                 { name: 'profireader_last_name', enableSorting: false,displayName: 'Last Name', enableCellEdit: false, enableColumnMenu: false,
                     filter: {type:'input'}
                 }
             ]
         });
        {% endraw %}
    }]);
</script>

    <div ng-controller="CompanyReaders">
        <h3 style="text-align: center!important;">{{_('Portal readers')}}</h3>
        <div ng-if="!load_contr">{{_('Loading...')}}</div>
        <div class="grid" id="grid1" ui-grid-edit ui-grid-pagination ui-grid="gridOptions1" ></div>
    </div>
{% endblock portal_content %}

{% block footer %}
    {% include 'partials/portal_footer_Profireader.html' %}
{% endblock footer %}