{% extends "index_lazy_layout.html" %}

{% block title %}Profireader{% endblock title %}

{% block head %}
    {{ super() }}
    {% include '_ruslan/partials/_header_files_grid.html' %}
{% endblock head %}

{% block portal_base %}
    {% include 'partials/portal_base_Profireader_auth_user.html' %}
{% endblock portal_base %}

{% block portal_content %}
    {% block company_base %}
        {% include 'company/company_base_angular.html' %}
    {% endblock company_base %}

    <script>
    module.controller('grid_companiess', ['$scope', '$ok', '$sce', function ($scope, $ok, $sce)  {
        $scope.url_companies_partners = '{{ url_for('portal.companies_partners_load', company_id=company.id)
         }}';
        $scope.url_company_profile = {{ raw_url_for('company.profile')|safe }};

        {% raw %}
        $scope.sendData = function (grid_data, callback) {
            return $ok($scope.url_companies_partners, grid_data, callback);
            };

        $scope.portal_link = function(link){
            return 'http://' + link;
        };

        $scope.gridOptions1 = $.extend({}, $scope.gridOptions, {
                        loadGridData: $scope.sendData,
                        columnDefs: [
                            {
                                name: 'company_logo', type: 'img'
                            }, {
                                name: 'company_name', type: 'link',
                                href: 'url_company_profile(row.entity.company_id)'
                            }, {
                                name: 'company_rights'
                            }
                        ]
                    });
        {% endraw %}
    }])
    </script>

    {% raw %}

       <div ng-controller="grid_companiess">
        <div class="grid" id="grid1" ui-grid-pagination ui-grid="gridOptions1"></div>
        </div>
    {% endraw %}
{% endblock portal_content %}
