{% extends "_ruslan/_index_layout.html" %}
{% block title %}Profireader{% endblock title %}
{% block head %}
    {{ super() }}
    {% include '_ruslan/partials/_header_files_articles.html' %}
{% endblock head %}

{% block portal_base %}
    {% include 'partials/portal_base_Profireader_auth_user.html' %}
{% endblock portal_base %}

{% block portal_content %}
    {% block company_base %}
        {% include 'company/company_base_angular.html' %}
    {% endblock company_base %}
    {% from 'macros.html' import scripts %}
    {{ scripts(names=['croper']) }}
    <script>
        module.controller('CompanyProfile', ['$scope', function ($scope) {
            angularControllerFunction('CompanyMenuController', 'set_selected_company_menu')('home');
            $scope.user = {{g.user_dict | tojson | safe}};

            $scope.$$translate = {{translates('CompanyProfile') | safe}};

            $scope.company = {{company.get_client_side_dict() | tojson | safe}};

            $scope.url_back = {{raw_url_for('company.show') | safe}};
            $scope.url_portal_profile = {{raw_url_for('portal.profile') | safe}};

            $scope.data = {};
            $scope.rights_user_in_company = {{rights_user_in_company | tojson | safe}};

            $scope.edit = false;

            $scope.go_to_portal = function (host) {
                window.location.href = 'http://' + host;
            };

            $scope.portal_create = function (company_id) {
                window.location.href =
                        $scope.url_portal_profile({'create_or_update': 'create', 'company_id': company_id});
            };

            $scope.portal_update = function (company_id, portal_id) {
                window.location.href =
                        $scope.url_portal_profile({
                            'create_or_update': 'update', 'company_id': company_id,
                            'portal_id': portal_id
                        });
            };


            $scope.change = function () {
                $scope.edit = $scope.rights_user_in_company['COMPANY_EDIT_PROFILE'] ? true : false;
                $scope.save = true
            };

            $scope.afterSave = function (resp, deff) {
                if (resp && !$scope.data.id) {
                    window.location.href = '{{ url_for('company.show') |safe }}';
                }
                $scope.edit = false;
                $scope.save = false;
                deff(resp);
                $scope.company = $scope.data_saved;
            };

            $scope.afterLoad = function (resp, deff) {
                $scope.edit_rights = $scope.rights_user_in_company['COMPANY_EDIT_PROFILE']
                deff(resp);
                $scope.logo_file_url = fileUrl(resp['logo_file_id']);
            };

        }])
        ;
    </script>
    {% raw %}
    <div ng-controller="CompanyProfile">
        <div class="container list-form" af
             af-after-save="afterSave"
             af-after-load="afterLoad"
             ng-model="data">
            <div class="row company">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 image-company-profile">

                    <img pr-image="company.logo_file_id" alt="image" ng-show="!edit">

                    <div style="width: 400px;" ng-if="edit">
                        <div ng-model="data.image" pr-crop pr-company-id="{{ company.id }}"></div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 edit-company">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button class="btn btn-default go-portal pull-right border-radius" type="button"
                                ng-if="company.own_portal" disabled ng-click="portal_update(company.id, company.own_portal.id)
                                ">{{_('Portal
                            profile') }}
                        </button>
                        <button class="btn btn-default go-portal pull-right border-radius" type="button"
                                ng-if="!company.own_portal" ng-click="portal_create(company.id)">{{ _('Launch
                            portal') }}
                        </button>
                        <button ng-show="save" class="btn btn-default save-profile pull-right border-radius"
                                type="button" ng-click="$af.save(data)"
                                ng-disabled="!$af.isActionAllowed(data, 'save') "
                        >{{ _('Save profile') }}
                        </button>
                        <button class="btn btn-default edit-profile pull-right border-radius" type="button"
                                ng-click="change()" ng-if="edit_rights">{{ _('Edit profile') }}
                        </button>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <ul class="edit-block" ng-show="!edit">
                            <li ng-show="company.name"><h3>{{ company.name }}</h3></li>
                            <li ng-show="company.country">Country: {{ company.country }}</li>
                            <li ng-show="company.region">Region: {{ company.region }}</li>
                            <li ng-show="company.city">City: {{ company.city }}</li>
                            <li ng-show="company.postcode">Postcode: {{ company.postcode }}</li>
                            <li ng-show="company.address">Address: {{ company.address }}</li>
                            <li ng-show="company.phone">Phone: {{ company.phone }}</li>
                            <li ng-show="company.phone2">Fax: {{ company.phone2 }}</li>
                            <li ng-show="company.email">Email: {{ company.email }}</li>
                            <li ng-show="">Long??</li>
                            <li ng-show="company.own_portal.host">Portal: {{ company.own_portal.host }}</li>
                        </ul>
                        <div class="edit-block" ng-if="edit">
                            <div class="col-lg-2">Name:</div>
                            <div class="col-lg-10 edit-data">
                                <input type="text" class="form-control border-radius" value="{{ company.name }}"
                                       id="basic-url" aria-describedby="basic-addon3" ng-model="data.name">
                            </div>
                            <div class="col-lg-2">Country:</div>
                            <div class="col-lg-10 edit-data">
                                <input type="text" class="form-control border-radius" value="{{ company.country }}"
                                       id="basic-url" aria-describedby="basic-addon3" ng-model="data.country">
                            </div>
                            <div class="col-lg-2">Region:</div>
                            <div class="col-lg-10 edit-data">
                                <input type="text" class="form-control border-radius" value="{{ company.region }}"
                                       id="basic-url" aria-describedby="basic-addon3" ng-model="data.region">
                            </div>
                            <div class="col-lg-2">City:</div>
                            <div class="col-lg-10 edit-data">
                                <input type="text" class="form-control border-radius" value="{{ company.city }}"
                                       id="basic-url" aria-describedby="basic-addon3" ng-model="data.city">
                            </div>
                            <div class="col-lg-2">Postcode:</div>
                            <div class="col-lg-10 edit-data">
                                <input type="text" class="form-control border-radius" value="{{ company.postcode }}"
                                       id="basic-url" aria-describedby="basic-addon3" ng-model="data.postcode">
                            </div>
                            <div class="col-lg-2">Address:</div>
                            <div class="col-lg-10 edit-data">
                                <input type="text" class="form-control border-radius" value="{{ company.address }}"
                                       id="basic-url" aria-describedby="basic-addon3" ng-model="data.address">
                            </div>
                            <div class="col-lg-2">Phone:</div>
                            <div class="col-lg-10 edit-data">
                                <input type="text" class="form-control border-radius" value="{{ company.phone }}"
                                       id="basic-url" aria-describedby="basic-addon3" ng-model="data.phone">
                            </div>
                            <div class="col-lg-2">Fax:</div>
                            <div class="col-lg-10 edit-data">
                                <input type="text" class="form-control border-radius" value="{{ company.phone2 }}"
                                       id="basic-url" aria-describedby="basic-addon3" ng-model="data.phone2">
                            </div>
                            <div class="col-lg-2">Email:</div>
                            <div class="col-lg-10 edit-data">
                                <input type=text class="form-control border-radius" value="{{ company.email }}"
                                       id="basic-url" aria-describedby="basic-addon3" ng-model="data.email">
                            </div>
                            <div class="col-lg-3">Lang and long:</div>
                            <div class="col-lg-4 edit-data">
                                <input type="text" class="form-control border-radius" value="{{ company.lat }}"
                                       id="basic-url" aria-describedby="basic-addon3" ng-model="data.lat">
                            </div>
                            <div class="col-lg-4 edit-data">
                                <input type="text" class="form-control border-radius" value="{{ company.lon }}"
                                       id="basic-url" aria-describedby="basic-addon3" ng-model="data.lon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="edit">
                <h3>Short description:</h3>
                <textarea ui-tinymce="tinymceImageOptions" ng-model="data.short_description" ng-if="edit"></textarea>

                <h3>About company:</h3>
                <textarea ng-if="edit" ui-tinymce="tinymceImageOptions" ng-model="data.about"></textarea>
            </div>
            <div class="row" ng-if="!edit && company.short_description">
                <div class="col-lg-12 about-company-text">
                    <h3>Short description:</h3>

                    <p ng-bind-html="company.short_description"></p>
                </div>

            </div>

            <div class="row" ng-if="!edit && company.about">
                <div class="col-lg-12">
                    <h3>About company:</h3>

                    <p ng-bind-html="company.about"></p>
                </div>
            </div>
        </div>

    </div>
    {% endraw %}
{% endblock portal_content %}

{% block footer %}
    {% include 'partials/portal_footer_Profireader.html' %}
{% endblock footer %}