{% extends "index_lazy_layout.html" %}

{% block title %}Profireader - Articles{% endblock title %}

{% block portal_content %}


    <script>
        module.controller('article_list', ['$scope', '$ok', '$sce', 'uiGridConstants','uiGridGroupingConstants','$timeout', function ($scope, $ok, $sce, uiGridConstants, uiGridGroupingConstants,$timeout) {
            angularControllerFunction('CompanyMenuController', 'set_selected_company_menu')('materials')
            $scope.url_details = {{ raw_url_for('company.material_details')|safe }};
            $scope.url_search_article = {{ raw_url_for('company.materials_load')|safe }};
            $scope.url_edit_article_portal = {{ raw_url_for('article.article_show_form')|safe }};

            $scope.company_id = '{{ company_id }}';
            $scope.$$translate = {{ translates('article_list')|safe }};

            {% raw %}
            $scope.noData = 'No materials';

            $scope.sendData = function () {
                $scope.loading = true;
                var data = {};
                data.article_id = $scope.article_id ? $scope.article_id : null;
                data.gr_data = $scope.all_grid_data;
                $ok($scope.url_search_article({company_id: $scope.company_id}), data, function (resp) {
                    $scope.datas = resp;
                    $scope.applyGridExtarnals(resp);
                }).finally(function () {
                    $scope.loading = false;
                    $scope.load_contr = true;
                });
            };

            $scope.lclass = function(portal){
                return portal === 'not sent' ? "display:inline-block;pointer-events: none;cursor: text;color:#404b55;font-weight: bold;" : '';
            };

            $scope.gridOptions1 = {
                    data: 'datas.grid_data',
                    paginationPageSizes: [10, 25, 50, 75],
                    paginationPageSize: $scope.paginationOptions.pageSize,
                    enableFiltering: true,
                    useExternalPagination: true,
                    useExternalSorting: true,
                    useExternalFiltering: true,
                    showTreeExpandNoChildren: false,
                    columnDefs: [
                      { name: 'title', enableSorting: false,enableCellEdit: false, enableColumnMenu: false,
                          displayName: 'Title',
                          width: '35%',
                          cellTemplate: '<div ng-class="link" class="link"><a href="{{ grid.appScope.url_details({company_id:grid.appScope.company_id,article_id:row.entity.id})}}" ng-bind="row.entity.title"></a></div>',
                          filter: {type: uiGridConstants.filter.INPUT}
                      },
                      { name: 'date',enableCellEdit: false,enableFiltering: false, groupingShowAggregationMenu: false,
                          displayName: 'Date',
                          groupingShowGroupingMenu: false
                      },
                      { name: 'portals', enableSorting: false,enableCellEdit: false, enableColumnMenu: false,
                          displayName: 'Portals',
                          cellTemplate: '<div class="link"><a style="{{grid.appScope.lclass(row.entity.Portals)}}" href="{{ grid.appScope.url_edit_article_portal({article_portal_division_id: row.entity.id}) }}">{{row.entity.portals}}</a></div>',
                          filter: $scope.filterForSelect(uiGridConstants)
                      },
                      { name: 'publication_status', enableSorting: false, enableCellEdit: false, enableColumnMenu: false,
                          displayName: 'Publication status',
                          filter: $scope.filterForSelect(uiGridConstants)
                      },
                      { name: 'material_status', enableSorting: false, //editableCellTemplate: $scope.editableTemplate,
                          //editDropdownValueLabel: 'value',
                          //cellTemplate: $scope.selectRowTemplate,
                          displayName: 'Material status',
                          enableCellEdit: false,
                          enableColumnMenu: false,
                          filter: $scope.filterForSelect(uiGridConstants)
                      }
                    ],
                    onRegisterApi: function (gridApi) {$scope.setGridExtarnals(gridApi, $scope.sendData, $scope.paginationOptions)}
                  };

        }]);
{% endraw %}
    </script>
    {% include 'company/company_base_angular.html' %}
    {% raw %}
    <div ng-init="sendData()" ng-controller="article_list">
        <div ng-if="!load_contr">{{_('Loading...')}}</div>
        <div ng-if="load_contr">
            <div class="grid" id="grid1" ui-grid-edit ui-grid-grouping ui-grid-pagination ui-grid="gridOptions1" ></div>
        </div>
    </div>
    {% endraw %}

{% endblock portal_content %}


