{% extends "index_lazy_layout.html" %}

{% block head %}
    {{ super() }}
    {% include '_ruslan/partials/_header_files_grid.html' %}
{% endblock head %}

{% block portal_content %}

    {% block company_base %}
        {% include 'company/company_base_angular.html' %}
    {% endblock company_base %}



    <script>


        module.controller('material_details', function ($scope, $ok, $uibModal, $timeout, $publish) {
            $scope.$$translate = {{ translates('material_details')|safe }};
            angularControllerFunction('CompanyMenuController', 'set_selected_company_menu')('materials')

            $scope.url_search_for_user = {{ raw_url_for('company.search_for_user')|safe }};
            $scope.url_update_material = {{ raw_url_for('article.article_show_form')|safe }};
            $scope.url_company = {{ raw_url_for('company.profile')|safe }};
            $scope.url_front_publication_details = {{ raw_url_for('front.details')|safe }};
            $scope.url_front_publication_division = {{ raw_url_for('front.division')|safe }};
            $scope.rights = {{ user_rights_in_company|safe }}

            $scope.url_front_publication_division_host = function (division_name, host) {
                return division_name ? ('//' + host + $scope.url_front_publication_division({division_name: division_name})) : '';
            }

            $scope.url_front_publication_details_host = function (publication_id, host) {
                return publication_id ? ('//' + host + $scope.url_front_publication_details({article_portal_division_id: publication_id})) : '';
            }

            $scope.url_front_publication_index_host = function (host) {
                return '//' + host + '/';
            }


            $scope.loadMaterialDetails = function (data, callback) {
                $ok('', data, function (resp) {
                    callback(resp.portals);
                    $scope.data = resp;
                }).finally();

            };


            $scope.updateMaterial = function (material_id) {
                console.log($scope.rights.ARTICLES_EDIT_OTHERS)
                $scope.rights.ARTICLES_EDIT_OTHERS ?
                        window.location.href = $scope.url_update_material({'material_id': material_id}) :
                        add_message('Sorry!!!You haven\'t got  appropriate rights!', 'danger', 8000)
            };


            $scope.grid_action = function (id, action, row, column_name) {
                'use strict'
                if (action === 'EDIT') {
                    window.location.href = $scope.url_update_material({'publication_id': row['publication']['id']});
                    return;
                }

                else {
                    var modalInstance = $publish({
                        material_or_publication_id: (action === 'SUBMIT') ? $scope.data['material']['id'] :
                                row['publication']['id'],
                        action: action,
                        portal_id: row['id'],
                        company_id: $scope.data.company['id']
                    });

                    modalInstance.result.then(function (updated_row) {
                        $scope.grid_change_row($scope.data.portals, updated_row);
                    });
                }
            };

            $scope.gridOptions1 = $.extend({}, $scope.gridOptions, {
                loadGridData: $scope.loadMaterialDetails,
                autoresizecolumns: True,
                columnDefs: [
                    /*                    {
                     name: 'own_company.name', afilter: {type: 'input'},
                     type: 'link',
                     href: 'url_company({company_id:row.entity.own_company.id})',
                     img: 'own_company.logo_file_id'
                     }
                     ,*/
                    {
                        name: 'name',
                        type: 'link',
                        target: 'front',
                        href: 'url_front_publication_index_host(row.entity.host)',
                        img: 'logo_file_id'
                    }
                    , {
                        name: 'publication.division.name', type: 'link', target: 'front',
                        href: 'url_front_publication_division_host(row.entity.publication.division.name, row.entity.host)'
                    }

                    , {
                        name: 'publication.title', type: 'link', target: 'front',
                        href: 'url_front_publication_details_host(row.entity.publication.id, row.entity.host)'
                    },
                        {
                        name: 'publication.status', afilter: {type: 'multi_select'}, width: '100'
                    }
                    , {
                        name: 'publication.visibility', width: '100'
                    }
                    , {
                        name: 'publication.position', width: '30'
                    }
                    , {
                        name: 'publication.counts', width: '70'
                    }
                    , {
                        name: 'publication.publishing_tm', enableSorting: true
                    }, {
                        name: 'actions', type: 'actions', onclick: 'grid_action', width: '200'

                    }


                ]
            });

        });
    </script>

    <style>
        .pr-grid-cell-field-type-actions-action-publish {
            background-color: greenyellow;
        }

        .pr-grid-cell-field-type-actions-action-unpublish {
            background-color: #1ab7ea;
        }
    </style>

    <div ng-controller="material_details">
        {% raw %}
        <h2>{{ _('Material details `%(title)s`', {title: data.material.title}) }}</h2>
        <h4>{{ _('Created at') }} {{data.material.cr_tm}}</h4>
        <h4>{{ _('Last modified at') }} {{data.material.md_tm}}</h4>
        <hr/>
        <button pr-user-rights="rights.ARTICLES_EDIT_OTHERS" class="btn fr" ng-click="updateMaterial(data.material.id)">{{ _('Update material') }}</button>
        <div class="material-details-article-preview">
            {% endraw %}{% include 'partials/article_details.html' %}{% raw %}
        </div>
        <button pr-user-rights="rights.ARTICLES_EDIT_OTHERS" class="btn fr" ng-click="updateMaterial(data.material.id)">{{ _('Update material') }}</button>
        <br/><br/>
        <hr/>

        <h2>{{ _('Material is published or can be published at portals') }}</h2>
        <div class="grid" id="grid1" ui-grid-edit ui-grid="gridOptions1"></div>
        {% endraw %}

    </div>

{% endblock portal_content %}
