{% extends "index_lazy_layout.html" %}

{% block title %}{{ _('Materials at %(company_name)s', {'company_name': company.name}) }}{% endblock title %}

{% block portal_content %}


    <script>
        module.controller('article_list', ['$scope', '$ok', '$sce', 'uiGridConstants', 'uiGridGroupingConstants', '$timeout', function ($scope, $ok, $sce, uiGridConstants, uiGridGroupingConstants, $timeout) {

            angularControllerFunction('CompanyMenuController', 'set_selected_company_menu')('materials')

            $scope.url_search_article = {{ raw_url_for('company.materials_load')|safe }};

            $scope.url_material_details = {{ raw_url_for('article.material_details')|safe }};
            $scope.url_material_create = {{ raw_url_for('article.article_show_form')|safe }};
            $scope.url_material_update = {{ raw_url_for('article.article_show_form')|safe }};
            $scope.url_publication_update = {{ raw_url_for('article.article_show_form')|safe }};

            $scope.company_id = '{{ company.id }}';
            $scope.$$translate = {{ translates('article_list')|safe }};

            {% raw %}
            $scope.noData = 'No materials';

            $scope.sendData = function (grid_data) {
                $scope.loading = true;
                $ok($scope.url_search_article({company_id: $scope.company_id}), grid_data, function (resp) {
                    $scope.datas = resp;
                    $scope.applyGridExtarnals(resp);
                }).finally(function () {
                    $scope.loading = false;
                    $scope.load_contr = true;
                });
            };

            $scope.lclass = function (portal) {
                return portal === 'not sent' ? "display:inline-block;pointer-events: none;cursor: text;color:#404b55;font-weight: bold;" : '';
            };

            $scope.gridOptions1 = $.extend({}, $scope.gridOptions, {
                remoteData: $scope.sendData,
                remoteUrl: $scope.url_search_article({company_id: $scope.company_id}),
                onRegisterApi: function (gridApi) {
                    $scope.setGridExtarnals(gridApi)
                },
                columnDefs: [
                    {
                        name: 'title', enableSorting: false, enableCellEdit: false, enableColumnMenu: false,
                        displayName: 'Title',
                        width: '35%',
                        cellTemplate: '<div class="link" title="{{ row.entity.title }}"><a href="{{ grid.appScope.url_material_details({company_id:grid.appScope.company_id,material_id:row.entity.id})}}" ng-bind="row.entity.title"></a></div>',
                        filter: {type: uiGridConstants.filter.INPUT}
                    },
                    {
                        name: 'author',
                        displayName: 'Author',
                        filter: {type: uiGridConstants.filter.INPUT}
                    },
                    {
                        name: 'date', enableCellEdit: false, enableFiltering: false, groupingShowAggregationMenu: false,
                        displayName: 'Date',
                        groupingShowGroupingMenu: false
                    },
                    {
                        name: 'portals', enableSorting: false, enableCellEdit: false, enableColumnMenu: false,
                        displayName: 'Published at portals',
                        cellTemplate: '<div class="link" title="{{ row.entity.portals}}"><a style="{{grid.appScope.lclass(row.entity.portals)}}" href="{{ grid.appScope.url_publication_update({publication_id: row.entity.id}) }}">{{row.entity.portals}}</a></div>',
                        filter: $scope.filterForSelect(uiGridConstants)
                    },
                    {
                        name: 'publication_status',
                        displayName: 'Publication status',
                        filter: $scope.filterForSelect(uiGridConstants)
                    }
                    , {
                        name: 'publication_visibility',
                        displayName: 'Publication visibility',
                        filter: $scope.filterForSelect(uiGridConstants)
                    }
                ]
            });

        }]);
        {% endraw %}
    </script>
    {% include 'company/company_base_angular.html' %}
    {% raw %}
    <div ng-init="sendData(all_grid_data)" ng-controller="article_list">
        <a href="{{ url_material_create({company_id: company_id}) }}">{{ _('Create new material') }}</a>
        <div ng-if="!load_contr">{{_('Loading...')}}</div>
        <div ng-if="load_contr">
            <div class="grid" id="grid1" ui-grid-edit ui-grid-grouping ui-grid-pagination ui-grid="gridOptions1"></div>
        </div>
    </div>
    {% endraw %}

{% endblock portal_content %}


