{% extends "index_lazy_layout.html" %}

{% block title %}Profireader{% endblock title %}

{% block head %}
    {{ super() }}
    {% include '_ruslan/partials/_header_files_grid.html' %}
{% endblock head %}

{% block portal_content %}
    {% block company_base %}
        {% include 'company/company_base_angular.html' %}
    {% endblock company_base %}

    <script>
    module.controller('portals_partners', function ($scope, $ok, $sce)  {
        angularControllerFunction('CompanyMenuController', 'set_selected_company_menu')('portals_partners');
        $scope.url_portals_partners = '{{ url_for('portal.portals_partners', company_id=company.id)}}';
        $scope.company_id = '{{ company.id|safe }}';
        $scope.url_search_for_portal = function () {
                return ( '/portal/search_for_portal_to_join/' );
            };
        $scope.url_change_status = {{ raw_url_for('portal.portals_partners_change_status')|safe }};
        $scope.url_join = {{ raw_url_for('portal.apply_company')|safe }};
        $scope.url_company_profile = {{ raw_url_for('company.profile')|safe }};
        $scope.selectedPortal_name = '';
        $scope.selectedPortal = null;
        $scope.selectedPortal_sending = false;
        $scope.user_right = {{ rights_user_in|safe }}


        {% raw %}

        $scope.onSelect = function ($item, $model, $label) {
            if (!$item || !$item.id) {
                $scope.selectedPortal_name = '';
                $scope.selectedPortal = null;
            }
            else {
                $scope.selectedPortal = $item;
            }
        };

        $scope.searchForPortalToJoin = function (val) {
            return $ok($scope.url_search_for_portal(), {
                company_id: $scope.company_id,
                search: val
            }, function (resp) {
                return resp.length ? resp : [{id: false, name: 'No results'}];
            });
        };

        $scope.joinToPortal = function () {
            $scope.data = {};
            $scope.user_right ? $ok($scope.url_join(), {
                company_id: $scope.company_id,
                portal_id: $scope.selectedPortal.id
            }, function (resp) {
                $scope.gridApi.grid.setGridData();
                $scope.selectedPortal = null;
                $scope.selectedPortal_name = null;
            }).finally(function () {
                delete $scope.all_grid_data['paginationOptions']['page_for_id'];
                $scope.selectedPortal_sending = false;
            }) : add_message('Sorry!!!You haven\'t got  appropriate rights!', 'danger', 8000)
        };

        $scope.sendData = function (grid_data, callback) {
            return $ok($scope.url_portals_partners, grid_data, callback);
            };


        $scope.grid_action = function (id, action, row, column_name) {
            if(row.actions[action]){
                return $ok($scope.url_change_status({company_id:$scope.company_id, portal_id:row.portal.id}) ,{action:action}, function(resp){})
            }
            $scope.gridApi.grid.setGridData();
        };

        $scope.portal_link = function(link){
            return 'http://' + link;
        };

        $scope.gridOptions1 = $.extend({}, $scope.gridOptions, {
                        loadGridData: $scope.sendData,
                        columnDefs: [
                            {
                                name: 'portal.name', type: 'link',
                                href: 'portal_link(row.entity.portal.host)', img:'portal.logo_file_id', link: true
                            }, {
                                name: 'portal.own_company.name', type: 'link',
                                href: 'url_company_profile({company_id: row.entity.portal.own_company.id})',img:"portal.own_company.logo_file_id"
                            }, {
                                name: 'status', width: '10%', afilter: {type: 'input'}
                            }, {
                                name: 'rights', width: '300', type: 'icons', afilter: {type: 'input'}},
                            {
                                name:'actions', type: 'actions', onclick: 'grid_action'}
                        ]
                    });
        {% endraw %}
    })
    </script>

    {% raw %}
       <div ng-controller="portals_partners">
       <h3> {{ _('Join to portal') }} </h3>
            <input pr-user-rights="user_right" typeahead-on-select="onSelect($item, $model, $label)"
                   uib-typeahead-template-url="typeaheadTemplate.html"
                   uib-typeahead-loading="loadingPortals"
                   ng-model="selectedPortal_name"
                   uib-typeahead="portal as portal.name for portal in searchForPortalToJoin($viewValue)"
                   name="portal_id"/>&nbsp;
            <button pr-user-rights="user_right"  class="btn" ng-click="joinToPortal()"
                    ng-class="{'disabled': !selectedPortal || selectedPortal_sending}"
                    ng-disabled="!selectedPortal || selectedPortal_sending">{{ _('join to this portal') }}
            </button>
            <i ng-show="loadingPortals" class="glyphicon glyphicon-refresh"></i>

        <div class="grid" id="grid1" ui-grid-pagination ui-grid="gridOptions1"></div>
        </div>
    {% endraw %}
{% endblock portal_content %}
