{% extends "index_lazy_layout.html" %}

{% block title %}Employment details{% endblock title %}

{% block portal_content %}

    {% block company_base %}
        {% include 'company/company_base_angular.html' %}
    {% endblock company_base %}

    <script>
        module.controller('portal_partner_details', function ($scope, $ok) {
            angularControllerFunction('CompanyMenuController', 'set_selected_company_menu')('companies_partners');

            $scope.portal_partner = {{ company_member|tojson|safe }};
            $scope.employeer  = {{ employeer|tojson|safe }};
            $scope.rights = {{ rights|tojson|safe }};
            $scope.member = {{ member|tojson|safe }};
            $scope.user_right = {{ user_right_in|tojson|safe }};

            $scope.url_portal_partner_update = {{ raw_url_for('portal.portal_partner_update')|safe }};

            $scope.update = function () {
                $scope.user_right ? window.location.href = $scope.url_portal_partner_update({
                    'company_id':$scope.employeer.id,
                    'partner_id': $scope.portal_partner.id
                }) : add_message('Sorry!You haven\'t got  appropriate rights!', 'danger', 8000)
            }

        });
    </script>
    {% raw %}

    <div  ng-controller="portal_partner_details">
        <h2>
            <img class="person-small-cover" pr-image pr-no-image="{{portal_partner.logo_file_id }}"/>
            <img class="logo-small-cover" pr-image="employeer.logo_file_id"/>
            {{ _('Portal partner `%(portal_partner.name)s` at company `%(employeer.name)s`') }}</h2>
        <img pr-image="employer.logo_file_id"/>
        {{ _('status') }} {{ member.status }}<br>
        <div ng-class="{disabled: !permitted}" ng-repeat="(right_name, permitted) in rights">
            <img src="/static/images/0.gif"
                 class="pr-grid-cell-field-type-icons-icon pr-grid-cell-field-type-icons-icon-{{ right_name }}"/>
            {{ right_name }}
        </div>
        <button pr-user-rights="user_right" class="btn fr" type="button" ng-click="update()">{{ _('Update partners') }}</button>
    </div>

    [pr-test=lalala]

    {% endraw %}

{% endblock portal_content %}
